[2019-05-02 06:34] Eddie-CooRo opened #1 "Add drag to select support"
Hi, thank you for this great library.
I took a look at it and I thought it would be nicer for this library if it supports drag to select feature out of the box.
So I tweaked its code for one or two hours and here is what I achieved so far:
![](https://media.giphy.com/media/ciwXHWdfJS6kHZ5cJY/giphy.gif)

I wonder if It's ok to open a pull request for this.

[2019-05-02 07:41] Kiarash-Z commented on #1
HI Eddie,
Feel free to submit a pull request. Any great contribution like this will be highly appreciated 😊

[2019-05-02 07:44] Kiarash-Z commented on #1
For the sake of contribution, I pushed a new branch called 'develop'. You can work on that branch.
New "Contribution" section will be added soon to the site.

[2019-05-07 19:28] simti opened #3 "add ability to pick custom year and month"
Hi,thanks for this library.
I think one feature this library needs is the ability to select particular year or month without sliding.
something like this for example:
![image](https://user-images.githubusercontent.com/13396356/57327205-93dc6780-7123-11e9-8fe9-8d27026fa2b8.png)

[2019-05-10 06:54] #3 closed

[2019-05-13 09:54] mrlaseptima opened #5 "Flexible to change years"
how can i pick my birthday ? scroll to last years several times ?!  add ability to change years quickly please .
thank you <3

[2019-05-13 09:59] Kiarash-Z commented on #5
Hey Amin, this is related to [this issue](https://github.com/Kiarash-Z/react-persian-calendar-date-picker/issues/3). This feature will be added soon in the next release.

[2019-05-13 09:59] #5 closed

[2019-06-03 20:02] #1 closed

[2019-06-14 18:48] electather opened #8 "add max/min date"
thanks for the great library. i think it would be great if a native option for setting max/min date was added to this library. there are many use cases e.g. setting birthday or reserving a date. just removing the user's access to those dates is a much better solution (than my current solution of) showing an error to user.

[2019-06-15 10:46] Kiarash-Z commented on #8
Hello, thanks for reaching out😊
You can actually do this by providing an array of the disabled days: [disabled days](https://kiarash-z.github.io/react-persian-calendar-date-picker/docs/disabled-days)

[2019-06-15 11:53] Kiarash-Z commented on #8
Oh just figured it out. You can't provide an unlimited list of the disabled days. I got to add this feature. Thanks for your great suggestion❤️. I will add it in later versions. (1.1.0 perhaps...)

[2019-06-18 08:43] #8 closed

[2019-07-09 08:45] Kiarash-Z commented on #8
@electather this feature has been added in #10. You can use it now!😊

[2019-07-09 08:45] Kiarash-Z commented on #3
@simti this feature has been added in #10. You can use it now!😊

[2019-07-11 05:32] par6n opened #12 "Proprietary fonts used in playground"
There is a proprietary font used in the playground which can cause troubles. How about [Shabnam](http://rastikerdar.github.io/shabnam-font/)?

[2019-07-13 07:05] ahmadi3d opened #13 "The Datepicker is extremely slow"
I tried using this datepicker and i liked everything about it the only problem is that its extremely slow, meaning the window for pick the date lags and it has low FPS
"react": "^16.8.6",

[code]

[2019-07-13 07:52] Kiarash-Z commented on #13
Hi, @ahmadi3d can you provide an example in [Codesandbox](https://codesandbox.io)? As far as I've tested it's completely 60fps.

[2019-07-13 07:54] Kiarash-Z commented on #12
Hi @par6n and thanks for reaching out. I've bought the license for the font, but I'm quite ambivalent whether I'm using the .current license plan or not. I gotta ask Moslem Ebrahimi for it.

[2019-07-13 09:28] ahmadi3d commented on #13
Hi, @Kiarash-Z , I managed to find the reason for this issue, this bug (low fps and lag) happens when instead of using hook, you simply call the component inside a class component, i don't know why this happens but i managed to fix it after using react hooks similar to the examples in the documentation

[2019-07-13 10:36] Kiarash-Z commented on #13
It shouldn't make a difference:/ feel free to reach out if the issue appears again❤️

[2019-07-13 10:36] #13 closed

[2019-07-15 04:57] Kiarash-Z commented on #12
I asked Mr.Ebrahimi, and the project is using the appropriate license plan now 🎉

[2019-07-15 04:57] #12 closed

[2019-07-21 07:30] ahmadi3d opened #16 "DatePicker's calendar falls behind other panels"
Hello
I am using `material UI`, i use `Cards` as panels to style my pages, today i tried implanting the `DatePicker` but it seems that when i open the calendar it falls behind the other panels and even the elements inside the same panel (`<Card>`)
Here is an image :
https://ibb.co/842DZjq

I tried giving the `DatePicker` and the `calendarClassName `style, in which i changed the `z-index` and posit

[2019-07-21 07:54] Kiarash-Z commented on #16
Hello, Have you tried using `wrapperClassName `  instead of `calendarClassName`? you can try it. if it doesn't work, you can try wrapping the whole `<DatePicker />` component in a `div` tag as:
[code]

[2019-07-21 08:00] ahmadi3d commented on #16
Good news!, Using the wrapperClassName solved the issue of fall behind the elements in the same div (Card), but the calendar is still behind the other panels:
https://ibb.co/CK1TfMN
I also tried using a div but it didn't solve the problem.

[2019-07-21 08:43] ahmadi3d commented on #16
I just tried the default DatePicker in material UI and react and they both seem to work fine!
here is an image :
https://ibb.co/GRYGR6q
the code for the datepicker:
[code]

I think its worth while to take a look at the css file of these date pickers and see how they are made so they can float above everything without any problem,
I am trying to do the same but i am not that experienced with using

[2019-07-21 08:56] Kiarash-Z commented on #16
I can give a `z-index` of 1000 and it would float above everything, but that's not a consistent nor an appropriate way to do so. If you demonstrate a demo on [Codesandbox](https://codesandbox.io/) with similar Material UI components, I can take a look and tell you the best way to resolve the issue.

[2019-07-21 09:17] ahmadi3d commented on #16
Here you go, this is an example of what i was talking about
https://codesandbox.io/s/objective-meadow-ergj0?fontsize=14

[2019-07-22 05:43] Kiarash-Z commented on #16
Got it! It's not actually because of `z-index`. Thus, It's because of Material-UI Paper component styles. Paper component has an `overflow: hidden` style, and by removing it, everything works just fine:

![image](https://user-images.githubusercontent.com/20098648/61608758-2abbb900-ac69-11e9-9f6a-904efa143bfd.png)

[2019-07-22 07:53] ahmadi3d commented on #16
Yes, before posing this issue i also did found out that by changing the overflow's state, the `DatePicker` works but because changing it would break the style of `Material UI` i did not pursue it any further.
I have start a question in `Stackoverflow` :
https://stackoverflow.com/questions/57134622/my-datepickers-calendar-opens-behind-the-card-component/57135443?noredirect=1#comment100789145_571354

[2019-07-22 15:38] ahmadi3d commented on #16
A very good answer seems to have appeared on the `stackoverflow`, it seems originally to avoid such complications you should used [Portal ](https://reactjs.org/docs/portals.html)to implant the component, after reading on portal it seems exactly what a calendar should be, here is a sentence which copied from its documentation :
"A typical use case for portals is when a parent component has an overf

[2019-07-24 05:04] Kiarash-Z commented on #16
A good case for portals is when you want to open the date picker "outside" of the child itself like in a modal, but when you want to render it directly into a child, it's not the case. take a look at the `portal` version of this famous React date picker: [It opens like a modal](https://reactdatepicker.com/#example-32)

[2019-07-24 05:35] ahmadi3d commented on #16
I see, so you are saying using Portal will result in a modal like opening, but still i think its not a bad option to have, in the component you linked the user can enable Portal mode using "withPortal", is it possible to add this option to the DatePicker, this way at least in cases like mine, this can work as an alternative solution.

[2019-07-24 05:47] Kiarash-Z commented on #16
Thanks for the suggestion. In fact, this component is highly flexible. you can use any modal you like and include the picker into it as I myself did in a project. Still, I think it's a good idea to integrate a built-in modal for it👍

[2019-07-24 05:52] Kiarash-Z commented on #16
Yet, I wonder how [this](https://ibb.co/GRYGR6q) works. Can you provide an example of this one on Codesandbox as well?

[2019-07-25 21:05] ahmady173 opened #17 "The pop-up opens out of the window"
If the component is used at the window sills, the pop-up will opens out of the window

[2019-07-25 21:42] thebrodmann commented on #17
@ahmady173 can you provide any repro? maybe a codesandbox?

[2019-07-25 22:00] ahmady173 commented on #17
@thebrodmann https://codesandbox.io/s/elastic-dijkstra-vryy9

[2019-07-26 16:03] Kiarash-Z commented on #17
Hey @ahmady173,
Thanks for submitting this PR. I reviewed a couple of date pickers and they had a similar behavior. What's your ideal behavior for the picker in these situations?

[2019-07-26 17:02] thebrodmann commented on #17
In fact, all popups should adjust by the position on the window (e.g. dropdown).
The following adjustments should be considered for all popups (e.g. date picker):

- If popup box **goes beyond** the **left side** of the window it **should be adjusted** to the **right**.
- If popup box **goes beyond** the **right side** of the window it **should be adjusted** to the **left**.
- If popup box **goes

[2019-07-27 05:00] Kiarash-Z commented on #17
@thebrodmann totally agreed. I will definitely consider this issue in the next release

[2019-07-27 17:31] thebrodmann commented on #17
@Kiarash-Z this sounds like bugfix for me. Maybe it would be better to release it under a patch version.

[2019-07-27 17:35] Kiarash-Z commented on #17
@thebrodmann Yeah, of course, it will be under a patch version. I will work it out soon

[2019-07-29 07:55] mmahdigh commented on #17
@ahmady173 I think if you change `position` property of `.DatePicker__calendarContainer` (in DatePicker.css, unfortunately I didn't find a prop to override this element stylings) from `'absolute'` to `'relative'` then this problem will be fixed.

[2019-07-29 08:31] Kiarash-Z commented on #17
@ahmady173 flags got corrected😊

[2019-07-29 08:34] Kiarash-Z commented on #17
@mmahdigh That wouldn't fix the problem. the position of the calendar container gotta be `absolute` for the correct spatial behavior.

[2019-07-29 17:39] mmahdigh commented on #17
@Kiarash-Z  You're right. but I think having the ability to override .`DatePicker__calendarContainer` css would solve a wide range of problems.

[2019-07-31 17:52] Kiarash-Z commented on #17
@mmahdigh You can indirectly do that if you wish. Consider this example plz:
[code]
CSS file:
[code]

[2019-07-31 20:31] thebrodmann commented on #17
@mmahdigh It doesn't help anyone to introduce a solution for a **wide range of problems** which have not any issue! Please feel free to open issue for any problem you think there is and then introduce your solutions. In this way, the **community** can bring their **comment and solutions** to you and the project.

[2019-08-05 08:58] Kiarash-Z commented on #16
This issue got closed because of inactivity. Feel free to open it when you're there😇

[2019-08-05 08:58] #16 closed

[2019-08-09 11:14] #17 closed

[2019-08-09 11:16] Kiarash-Z commented on #17
@thebrodmann @mmahdigh @ahmady173 This is now fixed in the new version(1.1.3). Here are the screenshots:
![image](https://user-images.githubusercontent.com/20098648/62775421-d3b54100-babc-11e9-8e66-7df9bd9fd489.png)
![image](https://user-images.githubusercontent.com/20098648/62775426-d6b03180-babc-11e9-9074-2ee644fa8b28.png)

[2019-08-10 04:51] ahmady173 commented on #17
great job.

[2019-08-12 13:42] elyasmotazedy opened #20 "how to use it without useState"
i have class component and i have state
i dont wanna use like this :
const [selectedDay, setSelectedDay] = useState(null);

how can i change  it for class component
thanks

[2019-08-14 07:05] Kiarash-Z commented on #20
Hello Elyas,

I highly encourage you to use new React hooks API, but if you want a class-based example, [I made one on CodeSandbox](https://codesandbox.io/s/jovial-moore-h186k)

[2019-08-17 07:48] #20 closed

[2019-08-25 11:41] mohammadsaleh opened #21 "support multi select(API suggestions?)"
Hi,
dose it support multi select date by click?!

[2019-08-25 12:00] thebrodmann commented on #21
Related to #11

[2019-08-25 15:55] Kiarash-Z commented on #21
Hi @mohammadsaleh,

This feature will be implemented soon in 1.2.0. I will be working on it 😊

[2019-08-25 16:02] Kiarash-Z commented on #21
@thebrodmann @mohammadsaleh I'm thinking of a great API for this feature. For now, we only have 2 main types of date picker:
- Single-day selection
- Range day selection
It's noteworthy that they're distinguished by `isDayRange ` prop. By implementing multi selection, there will be a 3rd type.  Any suggestion is welcome! maybe we would have something like a new prop e.g `isMultiSelectable` (and th

[2019-08-25 17:07] thebrodmann opened #22 "API change (V2 roadmap)"
Currently, as component's functionality grows, API grows too (as in #21). So maybe it would be an API reconsideration symptom.
Maybe we can determine all 3 types of date pickers based on the input value and there is no need for the extra properties. So in this way, we can make API simpler.

### Single Date Selection

[code]

### Range Date Selection

[code]

### Multiple Dates Selection

[code]

A

[2019-08-25 17:29] thebrodmann commented on #21
I put my proposal for API change in #22 because it was somewhere between this issue and new issue so I just preferred to open a new issue for that.

[2019-08-27 19:26] mohammadsaleh commented on #21
Thanks ;)

[2019-08-30 13:13] Kiarash-Z commented on #21
Moved to #22

[2019-08-30 13:13] #21 closed

[2019-08-30 13:16] Kiarash-Z commented on #22
@thebrodmann I like this approach but for now, bumping the version to 2.x is not intellectual. Therefore, I'd like to wait for some other feature requests besides multiselection.

[2019-09-03 09:55] sajjad7622 opened #25 "react-native"
hi ! can i  use this on my react-native project ?

[2019-09-03 11:58] thebrodmann commented on #25
Hey @sajjad7622, Unfortunately, it's not possible yet as the components return HTML VDOM.
BTW, for now if you wanna use this library in React Native, you can fork the repo and adapt it to work with React Native.

@Kiarash-Z Is there any roadmap for React Native?

[2019-09-04 07:54] Kiarash-Z commented on #25
Hi,
Currently, I don't have any plan for React Native version. But, a friend of mine is working on a similar module for React Native.

[2019-09-04 07:56] Kiarash-Z commented on #25
@sajjad7622 you can include this by [using WebView ](https://facebook.github.io/react-native/docs/webview), but it's not recommenced

[2019-09-04 07:56] #25 closed

[2019-09-15 03:11] judsonjuniorr opened #32 "Translate"
Hello,

Any plans on making a locale option?

Thanks.

[2019-09-16 19:05] Kiarash-Z commented on #32
Hello,

Do you mean supporting Gregorian calendar?

[2019-09-16 19:53] judsonjuniorr commented on #32
Yes, and the locale for weeks, months...

[2019-09-17 09:54] jafar-rezaei opened #33 "support allowDisabledDaysRange flag"
Hi ,
Thanks Kia to this great work.

Some times we may need to select disabled days on a range.
for example :
If we want to get pool ticket for a range, and odd days of week are for `female` we should allow male user to select a range of dates that only contain select-able days.

[2019-09-17 12:04] thebrodmann commented on #33
What about sending a function to determine a day should be disabled or not?

[code]

[2019-09-17 13:21] Kiarash-Z commented on #32
Yeah, I'm working on it!😊I will deprecate this package (because it includes "Persian" word), and Publish a new one including Gregorian translations

[2019-09-17 15:24] jafar-rezaei commented on #33
@thebrodmann , thanks .
Actually, I was thinking of getting only selected days , instead of period of dates as string.
imagine we have some kind of disabled days , without any formula ...

[2019-09-17 16:50] thebrodmann commented on #33
I didn't get your use case! Can you provide an example?

[2019-09-17 17:42] thebrodmann commented on #33
So you wanna send a white-list to the component? Also in that way sending a function can help:

[code]

Does the above API solve your case?

[2019-09-17 19:40] jafar-rezaei commented on #33
@thebrodmann thanks to your great example. yeah it will so useful , but my main problem was with range select returned value. Which just tells us about `startDate` till `endDate` , if we want to add a flag to allow user to choose `range` even with disabled days .. we should make another way to hold really chose days.
I mean, we should set value for days , beside of setting startDate and endDate. M

[2019-09-17 20:18] jafar-rezaei commented on #33
#34 https://github.com/Kiarash-Z/react-persian-calendar-date-picker/pull/34

[2019-09-17 21:47] thebrodmann commented on #33
I got it.
It's a miss-behavior if a range calendar returns multiple days!
If you wanna get multiple days from the calendar so you need to use multiple-day selection mode that has been proposed in #22 (It's not available yet).

[2019-09-18 08:07] Kiarash-Z commented on #33
Hi @jafar-rezaei, sry for latency in responding to this issue. Now, the problem is with the current state of the date picker, we can't include a disabled day in `disabledDays` prop. Am I right?

[2019-09-18 08:08] Kiarash-Z commented on #32
Moved to #22

[2019-09-18 08:08] #32 closed

[2019-09-18 08:08] Kiarash-Z commented on #22
We will support gregorian date in v2 as well!🎉

[2019-09-18 15:44] jafar-rezaei commented on #33
@Kiarash-Z , passing function to `disabledDays` is a good option , but my problem was some kind of multi days selection and allowing user to choose a range , that has disabled days and got selected range days. Last night I worked a bit and make PR which solved this for me.

[2019-09-18 15:55] Kiarash-Z commented on #33
@jafar-rezaei Unless I understand your case completely, I can't review your PR. If it's a really special case and it just happens for you, you can install your own fork and work with it. Otherwise, I need a clear description of what is the case and why would you need such prop❤️

[2019-09-18 17:27] thebrodmann commented on #33
If you wanna the appearance of range selection, the value should be a range. So it's on your shoulder to convert a range to multiple days with filtering disabled days.

The following example is only for demonstration purpose so it just gives you the idea:
[code]

[2019-09-18 19:45] jafar-rezaei commented on #33
@Kiarash-Z actually yeah, it is some special necessity of our app ❤️
@thebrodmann thanks to good example 👍 , but still need that flag to enable period choose .

thanks , it is handled in my fork and problem solved.

[2019-09-18 19:45] #33 closed

[2019-09-26 07:28] AldeonMoriak opened #36 "Custom Input"
The problem is when you try to send selectedDayRange to the component it doesn't return the right value. I looked at the tutorial but it didn't work for me. Can you show me how to do it?

[2019-09-26 08:25] Kiarash-Z commented on #36
Merhaba Aldeon,
Can you create an example in [CodeSandbox](https://codesandbox.io/) please? I can examine your case more easily then.

[2019-09-26 09:14] AldeonMoriak commented on #36
Hello,
this is my [code ](https://codesandbox.io/embed/busy-blackwell-mwy62) in CodeSandbox.

[2019-09-26 09:41] Kiarash-Z commented on #36
Figured it out. You were trying to give input the value of day range(which is an object not a string). Replace your `Reports.js` file with the following content:
[code]

[2019-09-26 10:31] AldeonMoriak commented on #36
Well, that's exactly what I did but I thought there was a way for DatePicker component to parse my object and return the value.
Thank you

[2019-09-26 21:14] #36 closed

[2019-10-06 13:13] Aryan-mor opened #37 "Day Item Layout"
Is it possible to change day item's layout .

[2019-10-06 15:48] Kiarash-Z commented on #37
Hello Aryan,
what do you mean by "day item's layout"? can you explain it more explicitly please?

[2019-10-07 07:25] Aryan-mor commented on #37
Days layout customize, like this =>
![Before Customized](https://user-images.githubusercontent.com/22844436/66292213-9fa9a100-e8f0-11e9-947a-65baa06366e0.png)
![[After Customized](https://user-images.githubusercontent.com/22844436/66292214-a0423780-e8f0-11e9-992d-09c528511d98.jpg)

[2019-10-07 15:15] Kiarash-Z commented on #37
This is not possible yet, but I consider adding a `renderDayItem` prop for such purposes in the next version 👍

[2019-10-09 06:25] mahyalpr opened #38 "can i use datepicker in formal class ?"
i want to use this datepicker inside the class and dont want to use useSet().
what is the syntax for using this datepicker?

[2019-10-09 08:25] sharifiniaa commented on #38
`import React, {Component} from 'react';

import 'react-persian-calendar-date-picker/lib/DatePicker.css';
import DatePicker from 'react-persian-calendar-date-picker';

class UseInClass extends Component {
    constructor(props){
        super(props);
        this.state = {
            selectedDay: null
        }
    }

    setSelectedDay = (data) => {
        this.setState({selectedDay: data})

[2019-10-09 08:40] Kiarash-Z commented on #38
@mahyalpr Yes, you can. duplication #20 :
[demo on CodeSandBox](https://codesandbox.io/s/jovial-moore-h186k)

[2019-10-09 08:58] sharifiniaa opened #39 "tab problem"
Hi
While I’m using the date picker in a form, and press tab to change inputs, suddenly the date picker crashes and its style misaligns; consequently it doesn’t work anymore!
Do you have any possible solution for this?!
![Capture](https://user-images.githubusercontent.com/45081278/66466878-4d9f8180-ea90-11e9-96f6-0a659c4a18e3.JPG)

[2019-10-09 08:58] Kiarash-Z commented on #22
🎉 A new feature requested and I will add a custom way for rendering a single day item for customization purposes.

[2019-10-09 09:50] Kiarash-Z commented on #39
Hello Hossein,
Can you provide a gif/video of the problem, please? I can investigate the problem better then.

[2019-10-09 09:51] Kiarash-Z commented on #37
Moved to #22

[2019-10-09 09:51] #37 closed

[2019-10-09 09:59] mahyalpr commented on #38
what about range datepicker?
how to handle from and to ?

[2019-10-09 10:00] sharifiniaa commented on #39
I use the Formik for validation and the date picker pass a props children to formik !
![ezgif-2-6b01b5605392](https://user-images.githubusercontent.com/45081278/66471822-e508d280-ea98-11e9-97d0-6e395f2ecab6.gif)

[2019-10-09 10:12] mahyalpr commented on #38
i fixed the problem:
import React from 'react';
import "react-persian-calendar-date-picker/lib/DatePicker.css";
import DatePicker from "react-persian-calendar-date-picker";

class App extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      selectedDayRange:{from: null,
        to: null}
    };
    this.handleDatePickerChange=this.handleDatePickerChange.bind(this

[2019-10-09 16:27] Kiarash-Z commented on #38
@mahyalpr I'm Glad you've fixed it. I'm gonna close this issue then 😇

[2019-10-09 16:27] #38 closed

[2019-10-09 17:06] Kiarash-Z commented on #39
I tried it with a simple `form` element and found no issue. Can you reproduce this form(only UI) in [CodeSandbox](https://codesandbox.io/) so I can inspect and find the problem?

[2019-10-09 20:42] sharifiniaa commented on #39
you can see the example in this link
[https://codesandbox.io/embed/practical-bassi-odse8](url)

[2019-10-10 04:52] thebrodmann commented on #38
@Kiarash-Z I remember another issue with has a similar problem. Should we add this to documentation?

[2019-10-16 12:34] sh4msi opened #40 "Does it support react native?"
hi
Does it support react native?

[2019-10-16 13:19] sh4msi opened #41 "How can I choose the exact time?"
hi
How can I choose the exact time?  (Hours and minutes)

[2019-10-16 18:21] thebrodmann commented on #41
Duplicate of #25

[2019-10-16 18:22] thebrodmann commented on #40
Duplicate of #25

[2019-10-19 05:40] Kiarash-Z commented on #40
Hi @sh4msi. You can use [This package](http://bit.ly/react-native-modern-datepicker)

[2019-10-19 05:40] #40 closed

[2019-10-19 05:42] Kiarash-Z commented on #41
Hi,
This package is a date picker, not a time picker. Yet, I would consider adding this feature

[2019-10-19 08:02] #39 closed

[2019-10-19 08:03] Kiarash-Z commented on #39
@sharifiniaa this is now fixed in v1.1.6. Try the latest version please❤️

[2019-10-25 15:40] Kiarash-Z commented on #22
🎉 the package has been renamed and republished!

[2019-10-25 15:40] #22 closed

[2019-10-25 15:40] #41 closed

[2019-10-25 23:54] nimaa77 opened #49 "<Datepicker/> showed inline when used inside material-ui modal"
**Describe the bug**
`<Datepicker/>` showed inline when used inside material-ui modal

**Reproduced Version on CodeSandbox**
Here it is on CodeSandBox: https://codesandbox.io/s/calendar-problem-1qe24?fontsize=14

**Expected behavior**
to not open inline

[2019-10-26 07:46] thebrodmann commented on #49
Seems duplicate of #16

[2019-10-26 09:28] themzed opened #50 "Animation speed"
**Is your feature request related to a problem? Please describe.**
Hi Kiarash, Thanks for awesome project. I feel animation on change month or year is a bit slow.

**Describe the solution you'd like**
If that's fine I can make a PR and fix this, then you can check it out and if that was fine merge it.

[2019-10-26 09:58] Kiarash-Z commented on #49
Hi @nimaa77,

Actually, it gets opened, but because of the absolute positioning of the calendar. Modal wouldn't detect its boundaries and gets scrolled. There are two solutions to this:
1- Use `<Calendar />` instead of `<DatePicker />` in your modal.
2- Wrap the picker in a `div` element and give that `div` a `min-height`

If solutions are somehow vague to you, I can produce a working example on C

[2019-10-26 10:07] Kiarash-Z commented on #50
Hi Mohammadreza,

There's no official prop available for changing the animation speed yet, but because I have used a CSS variable for animation speed, you can easily change it as below:
[code]
[code]

Here's a sample on [CodeSandbox](https://codesandbox.io/embed/new-hooks-gmi0e)
I think the animation duration is good for now. I would consider adding a prop for changing its value in later versions

[2019-10-26 12:38] themzed commented on #50
That's cool, I'll work on that. Thanks again.

[2019-10-26 13:03] #50 closed

[2019-10-27 21:26] HosseinAlipour opened #53 "Overlapping components"
First off, thank you for this great project, it's awesome. I used it today and realized that other inputs of Datepickers overlap other Datepciker like this. I dunno if this is because of z-index or what. any ideas?
![Screenshot (61)](https://user-images.githubusercontent.com/5198502/67642088-8c9d5600-f91d-11e9-9abb-25debbd7bc8b.png)

[2019-10-28 06:05] J-Kallunki opened #54 "How to use with keyboard?"
**Describe the bug**
For keyboard / accessibility component shows as input but nothing else. How to select day with keyboard?

**Reproduced Version on CodeSandbox**
Here it is on CodeSandBox: https://codesandbox.io/s/sad-chatelet-t4s0p

**Expected behavior**
Input needs to have guidance for screenreader and keyboard can be used to go through calendar and select days.

[2019-10-28 08:27] thebrodmann commented on #53
Hey @HosseinAlipour, can you provide a repro?

[2019-10-28 11:43] Kiarash-Z commented on #53
Hi Hossein,
You can easily fix this problem by giving a custom className to date picker or calendar using `wrapperClassName` or `calendarClassName`(by overriding `z-index`)

[2019-10-28 11:46] Kiarash-Z commented on #54
Hi Joonas,

Thanks for the suggestion. Accessibility will definitely improve in the next release. I keep this issue open till the fix 👍

[2019-10-28 12:23] J-Kallunki opened #55 "Hardcoded texts not translatable"
**Describe the bug**

Cannot translate hardcoded texts like:
https://github.com/Kiarash-Z/react-modern-calendar-datepicker/blob/master/src/components/Header.js#L101

**Expected behavior**

Hardcoded texts to be implemented so that changeable via the API

[2019-10-28 13:21] HosseinAlipour commented on #53
overriding z-index didn't help, I will provide a reproducible repo until night.

[2019-10-28 15:08] Kiarash-Z commented on #55
Hi Joonas,

Why does it not translatable? it is explicitly set it's 'previous month', and on the Persian calendar, it's the equivalent phrase.

[2019-10-28 16:02] Kiarash-Z commented on #53
@HosseinAlipour if possible, provide an example on [CodeSandbox](codesandbox.io)

[2019-10-28 17:01] HosseinAlipour commented on #53
[here you go ](https://codesandbox.io/s/young-butterfly-x3ted)

[2019-10-28 17:46] Kiarash-Z commented on #53
@HosseinAlipour as I told you, you can simply fix this by `wrapperClassName`: [Here's the SandBox 😊](https://codesandbox.io/embed/thirsty-galileo-kuui6)

[2019-10-28 19:02] #53 closed

[2019-10-28 19:04] HosseinAlipour opened #56 "native script"
Any plans to port the project for native-script?

[2019-10-28 19:30] Kiarash-Z commented on #56
Not really, but you can use[ the react-native version](https://github.com/HosseinShabani/react-native-modern-datepicker).

[2019-10-28 19:30] #56 closed

[2019-10-28 21:24] HosseinAlipour commented on #56
Omg, I don't know why I said native-scripts :D, I mean react-native,TYVM.

[2019-10-29 01:21] J-Kallunki commented on #55
How do you use it with another language than english or persian? If html document lang-attribute is saying content is different language it would be accessibility issue to use wrong language at datepicker.

[2019-10-29 09:50] J-Kallunki commented on #55
Sorry I mean localization. If html document uses other languahe than english or persian - how do you change all texts to webpages language?

[2019-10-30 08:05] mahyalpr opened #58 "I want to create hover range"
how can I show rang selection on datepicker when start date is selected until end date is selected?

[2019-10-31 18:26] HosseinAlipour opened #59 "Cleartype/subpixel is disabled"
I'm not sure this is the issue with the project or a bug in browsers. the input text is rendered without cleartype/subpixel when magnified,

with cleartype
![Screenshot (63)](https://user-images.githubusercontent.com/5198502/67974923-7f87ac00-fc28-11e9-9966-7531517da829.png)

without cleartype
![Screenshot (62)](https://user-images.githubusercontent.com/5198502/67974964-929a7c00-fc28-11e9-9639-88d

[2019-10-31 18:52] Kiarash-Z commented on #59
Hi Hossein,

This is definitely not this library's bug 😊 (By the way this picker doesn't use any font on its own. it just inherits it)

[2019-10-31 18:52] #59 closed

[2019-10-31 18:53] Kiarash-Z commented on #58
Hi @mahyalpr,

It's difficult for me to understand your case. Can you please explain it more explicitly?

[2019-10-31 18:55] Kiarash-Z commented on #55
I think this localization should be applied when other language locales get added. For now, I guess English is fine.

[2019-10-31 19:41] HosseinAlipour commented on #59
Are you saying that you don't have this issue? I've could resolve the issue by separating Input from the Picker into another tree as well as disabling `z-index` on Datepicker. but it needs forking and working on the project separately(something I really try to avoid), I wonder where this problem originated from. it happens in Opera and Chrome but not Firefox. do you have any idea?

[2019-11-03 07:59] hiradary commented on #25
@sajjad7622 Check this out :
https://github.com/HosseinShabani/react-native-modern-datepicker

[2019-11-04 21:35] nimaa77 commented on #49
@Kiarash-Z hi bro,

I fixed this issue with one line of CSS:
[code]

and on `<Dialog>` just add that CSS class to paper styles:
[code]
and if Dialog content wrapped inside `<DialogContent>`:
[code]

maybe it's better to add documentation for this.

[2019-11-04 21:35] #49 closed

[2019-11-05 11:25] Kiarash-Z commented on #49
@nimaa77 It's not an issue with the date picker, so it's just a wrapper style affecting this

[2019-11-08 17:28] arminyahya opened #60 "Typescript support"
Calendar needs index.d.ts file or @types so project with typescript base can have their type checking

[2019-11-09 15:27] Kiarash-Z commented on #60
Hi @arminyahya,

Does this index.t.ts file need to be published on NPM? or it just gets fetched automatically by the repo connected to the package?

[2019-11-09 17:42] thebrodmann commented on #60
@Kiarash-Z it should publish. I can work on this.

[2019-11-09 17:42] arminyahya commented on #60
I added new branch for this feature and after merge, your package need a new version(like 1.1.0) and need to publish on npm

[2019-11-10 11:03] Kiarash-Z commented on #60
@thebrodmann @arminyahya  Wouldn't this result in extra bundle size?

[2019-11-10 11:03] Kiarash-Z commented on #58
Closed due to inactivity

[2019-11-10 11:03] #58 closed

[2019-11-10 12:43] arminyahya commented on #60
@Kiarash-Z
No, this is only for developer experience and doesn't effect the main bundle

[2019-11-10 13:16] Kiarash-Z commented on #60
@arminyahya just tried it, and it adds up to bundle size 😶

[2019-11-10 13:17] Kiarash-Z commented on #60
Gotta do some research to find an efficient way to add this 🤔

[2019-11-11 06:08] arminyahya commented on #60
@Kiarash-Z  @thebrodmann
There is another way and its i add this index.d.ts file as a package to DefinitelyTyped so developers can install types (like @types/react-modern-calendar-datepicker).
Im glad to do that too.

[2019-11-11 08:44] thebrodmann commented on #60
@Kiarash-Z can you share statistics? It should not affect the JS part of the package!

I don't recommend this solution. Usually, It's a plan B when maintainers of a module don't wanna accept the maintenance of the type definition.

[2019-11-11 14:34] Kiarash-Z commented on #60
@thebrodmann I just considered it simple. When it's gonna get published, it will be there on node_modules/react-modern-calendar-datepicker, and that means it would add up to bundle size, wouldn't it? If it's not going to be there then how developers would detect the types?

[2019-11-11 14:54] thebrodmann commented on #60
@Kiarash-Z module bundlers won't load type definition files and consequently type definitions will not appear in the JS bundle files. In fact, the **package size will grow** but the bundle size will not.
Type definitions only will be load by TypeScript compiler from `types` property in `package.json` file.

[2019-11-11 15:39] Kiarash-Z commented on #60
@thebrodmann Got it! thanks for the clear explanation. You can work on a PR for this if you wish. By the way, adding types by an index.d file.ts is the best way?

[2019-11-11 16:08] arminyahya commented on #60
@Kiarash-Z  @thebrodmann
I did a PR for this before.
Didn't you Receive that?

[2019-11-11 16:10] Kiarash-Z commented on #60
@arminyahya Nope. Nothing in Pull Requests section:/

[2019-11-11 16:11] arminyahya commented on #60
Hmm
I finished this last week i maybe forget something.
Let me back home and create a PR.

[2019-11-11 18:22] thebrodmann commented on #60
Yeah, I think so. It's our plan A. :D

[2019-11-12 09:28] mahyalpr opened #62 "how can I use refs for datepicker?"
I set the datepicker into a dropdown . when click the datepicker dropdown closed , I tried to use refs to solve this problem but always return null ,
what do I do ??????????????

[2019-11-12 14:36] Kiarash-Z commented on #62
Hi @mahyalpr,

You can wrap the date picker in a `div` element and give that a ref. That would resolve your issue

[2019-11-12 14:36] #62 closed

[2019-11-12 15:23] mahyalpr commented on #62
I NEED to use ref for datepicker ,does datepicker accept ref?

[2019-11-14 06:16] Kiarash-Z commented on #60
Resolved in #64

[2019-11-14 06:16] #60 closed

[2019-11-19 16:35] jeffcrump commented on #54
I'd recommend changing the label back to a bug for this issue, and a critical one at that. Keyboard access is one of the lowest-level accessibility guidelines ([WCAG 2.1.1 Keyboard](https://www.w3.org/TR/UNDERSTANDING-WCAG20/keyboard-operation-keyboard-operable.html)) and is a breaking experience for any user that uses keyboard as a primary navigation tool.

This project is positioned as a drop-in

[2019-11-20 07:14] kisin opened #65 "accessibility support"
Do you plan on adding accessibility support to the calendar?

its the only thing stoping me from using your great calendar component
as accessibility is mandatory on my country.

we need full keyboard support and aria rules all over the place.

thanks.

[2019-11-23 13:59] Kiarash-Z commented on #65
Hello @kisin. I'm sorry for the latency in responding; I had a connection issue. Yes, I'm working on the new version which focuses on accessibility improvements 😊❤️

[2019-11-23 14:32] Kiarash-Z commented on #54
Thanks, @jeffcrump for the clarification 🙏🏻. I'm working on the new release 😇

[2019-11-23 18:23] spostad7 opened #67 "option to disable all days before today"

[2019-11-23 18:45] Kiarash-Z commented on #67
Hi @spostad7, The first example on [this page](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/minimum-maximum-date) matches your case. If you're using Persian date picker, make sure to use `utils(true).getToday()` instead of `utils().getToday()` for `minimumDate` prop.

[2019-11-23 18:45] #67 closed

[2019-11-25 17:42] spostad7 opened #68 "render custom element in Datepicker"
thanx in advance for this great package,
I am creating a full-page datepicker and I need to add some custom elements in opening datepicker, for example, I need to implement today button and also I want to add a close button and header title in datepicker
how can I achieve this?
something like this is in my mind:

![69562969-7db1ce00-0fc5-11ea-8ff6-6aa32e77a9d6](https://user-images.githubuserconten

[2019-11-27 10:00] kindslayer opened #69 "Modal DatePicker"
Is it impossible add feature show panel in a modal like this.
![image](https://user-images.githubusercontent.com/19972901/69713597-0e012780-111a-11ea-9c85-d8d58f009bad.png)

[2019-11-27 13:08] Kiarash-Z commented on #68
Hey @spostad7, rendering custom elements is not possible yet. in your image, the close button seems separated from the date picker. You can put `<Calendar/>` in a modal and put a close button for the modal. For the today button, you can create a button yourself and when it gets clicked you can change the value of datepicker

[2019-11-27 13:08] #68 closed

[2019-11-27 13:10] Kiarash-Z commented on #69
Hi @kindslayer, Yes, for such purposes, use `<Calendar/>` instead of `<Datepicker/>`. You can put calendar in any modal wrapper like [Rodal](https://chenjiahan.github.io/rodal/)

[2019-11-27 13:10] #69 closed

[2019-11-29 19:19] alidehghan opened #70 "Use bootstrap"
Thanks for your sleek date-picker.

Would you create a branch and use bootstrap as theme?

[2019-11-30 06:57] benamm opened #71 "Unhandled Rejection (TypeError): Cannot read property 'offsetTop' of null"
**Describe the bug**

TypeError: Cannot read property 'offsetTop' of null
(anonymous function)
node_modules/react-modern-calendar-datepicker/lib/components/YearSelector.js:42
  39 |   var classToggleMethod = isOpen ? 'add' : 'remove';
  40 |   var activeSelectorYear = wrapperElement.current.querySelector('.Calendar__yearSelectorItem.-active');
  41 |   wrapperElement.current.classList[classToggleM

[2019-12-01 11:24] Kiarash-Z commented on #70
Hi @alidehghan, I think bootstrap's theme is not really that good. I would consider adding various beautiful themes for date picker though.

[2019-12-01 11:25] Kiarash-Z commented on #71
Hello @benamm, can you provide an example on [CodeSandbox](https://codesandbox.io/)?

[2019-12-01 15:55] #70 closed

[2019-12-03 06:32] alidehghan commented on #70
Yes, you are right. but bootstrap is main css-framework which widely used in many projects and is keystone of many infrastructures. By adapting bootstrap, your nice component would be more customizable and easier to utilize in projects.

[2019-12-03 16:05] Kiarash-Z commented on #70
@alidehghan I understand your case, but for now, this can't be implemented. There are a couple of things you can do to customize date picker:
1- Change `primaryColor` and `secondaryColor` props e.g to bootstrapy purple
2- As you might have noticed, when using this component you import component defined CSS file like `import 'react-modern-calendar-datepicker/lib/DatePicker.css';` you can inspect el

[2019-12-05 09:07] Kiarash-Z commented on #55
@J-Kallunki This is now fixed in v1.1.0 🎉 there's a new file for language and localization specs.

[2019-12-05 09:07] #55 closed

[2019-12-05 09:08] Kiarash-Z commented on #54
@J-Kallunki @jeffcrump This is now fixed in v1.1.0 🎉 date picker is now accessible with keyboard and there are huge accessibility improvements.

[2019-12-05 09:08] #54 closed

[2019-12-05 09:09] Kiarash-Z commented on #65
@kisin date picker is now accessible in version 1.1.0 🎉check it out!

[2019-12-05 09:09] #65 closed

[2019-12-05 16:01] jeffcrump commented on #54
Awesome work, @Kiarash-Z !

[2019-12-07 08:53] Aryan-mor commented on #22
Hello, this feature is not ready yet?

[2019-12-07 09:43] J-Kallunki commented on #55
It is a good start but would it be easier to give other localization translations as configuration for the component? Default to those hardcoded languages if they serve the need else.

[2019-12-07 15:19] Kiarash-Z commented on #55
@J-Kallunki Thanks for your suggestion, I will consider this in the next version(though there will be more locales added)

[2019-12-07 15:21] Kiarash-Z commented on #22
@Aryan-mor Hey, Unfortunately, not yet. I will consider adding it soon(working on an efficient way for this)

[2019-12-08 09:12] zahraHaghi opened #76 "use datepicker in formik"
how can I use datepicker in formik?
I used it like this but when I submit form "required" error  show
[code]
 <Formik
            initialValues={{title: '', company: '', current: '', location: '', description: '', from: '', to: ''}}
            validationSchema={Yup.object({
                title: Yup.string()
                    .required('Required'),
                company: Yup.string()

[2019-12-08 11:50] thebrodmann opened #78 "Range DatePicker throws an error on `onChange` handler"
**Describe the bug**
Range date picker throws an error on `onChange` handler. There is no issue with single day nor multiple days selector.

**Reproduced Version on CodeSandbox**
Here it is on [CodeSandBox](https://codesandbox.io/s/serene-fog-oob88-umf9h?fontsize=14&hidenavigation=1&theme=dark)

**Expected behavior**
It should run the `onChange` handler without throwing any exception.

[2019-12-08 11:59] thebrodmann commented on #76
To use the DatePicker or Calendar components with Formik you need to create an adapter component that uses Formik context. You can follow this [CodeSandBox](https://codesandbox.io/s/serene-fog-oob88-oob88?fontsize=14&hidenavigation=1&theme=dark) for inspiration.

[2019-12-08 12:59] SidMorad opened #79 "isPersian directive is not working anymore"
So everything is working as expected when I do test my `DatePicker` component in a desktop browser. But `isPersian` directive has no effect when my testing device is a phone. e.g. Google chrome in Android or Safari in iOS.

Is this a bug? or am I missing something? please let me know how can I help? Thanks.

[2019-12-08 12:59] Kiarash-Z commented on #78
@thebrodmann First off, it seems that CodeSandbox isn't throwing the intended error. If you check this on your local machine it would throw an error like this:

![image](https://user-images.githubusercontent.com/20098648/70389622-41c03500-19d7-11ea-908c-461b5f2b570a.png)

That's because of the initial `value` of `{ from: undefined, to: undefined }` instead of `{ from: null, to: null }`, and why is

[2019-12-08 13:01] Kiarash-Z commented on #79
Hi @SidMorad, API has changed in v1.1.0 and `isPersian` prop has been removed. You can use `locale="fa"` instead. [here are some examples in the docs](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/different-locales).

[2019-12-08 13:30] SidMorad commented on #79
@Kiarash-Z Thank you for a fast response. Yes that was the root of issue.

I replace all `isPersian` with `locale='fa'` and I set version from `^1.0.1` to `1.1.0`.

[2019-12-08 13:31] thebrodmann commented on #78
It causes a breaking change. I think we should change the TypeScript type definition to just allow null type for range date selector.
I'm going to close this issue as it's intentional behavior.
Thank you.

[2019-12-08 13:31] #79 closed

[2019-12-08 13:39] Kiarash-Z commented on #78
@thebrodmann have you checked v1.1.

[2019-12-08 13:40] Kiarash-Z commented on #78
I merged your changes along with a fix to this issue

[2019-12-08 13:52] #78 closed

[2019-12-08 20:22] zahraHaghi commented on #76
so thankssss. It is worked for me

[2019-12-09 08:09] mahyalpr opened #85 "use hour in this datepicker"
does this datePicker or Calender supports the hour ?
I use this calender for date filtering and now i need to filter hour with date

[2019-12-09 11:20] Kiarash-Z commented on #76
@zahraHaghi We're glad your issue has been resolved. I'm gonna close this issue now

[2019-12-09 11:20] #76 closed

[2019-12-09 11:23] Kiarash-Z commented on #85
Hi @mahyalpr, at the current stage, no, however, I'm planning to release a **separate time picker module**. Would that resolve your issue?

[2019-12-09 15:06] arminyahya commented on #71
I had this problem.
For mine this happens when I gave calendar Persian value  but not giving Calendar component isPersian={true}
After that problem solved.
Be sure your value and isPersian prop are compatible.
@benamm

[2019-12-09 15:34] Kiarash-Z commented on #71
@arminyahya I could reproduce this issue like this and it's because a Persian value given to Gregorian date picker, is out of its minimum date limits(compare 2019 to 1398!). However, I will throw an error for such a case in the next versions.

[2019-12-09 15:34] #71 closed

[2019-12-12 08:20] vbtux opened #86 "How can I hide arrow that is added a the bottom?"
When I add this datePicker to my class component ,It will show an arrow at the bottom, how can I hide it?

[2019-12-12 08:31] Kiarash-Z commented on #86
This is so vague.  Can you provide a screenshot? a demo on [CodeSandbox](https://codesandbox.io/) is preferred.

[2019-12-12 08:40] vbtux commented on #86
![Untitled](https://user-images.githubusercontent.com/5327182/70696122-4be47b00-1cd8-11ea-89df-bf11eea2a10a.png)

[2019-12-12 09:06] Kiarash-Z commented on #86
@vbtux This is an unexpected behavior. Can your reproduce this on [CodeSandbox](codesandbox.io)?

[2019-12-12 09:28] thebrodmann commented on #86
I remember having seen this behaviour on [Customization](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/customization) page too.

[2019-12-12 09:35] thebrodmann commented on #86
@Kiarash-Z if you change the background color of the container that contains the datepicker input you will be able to see the arrow.

![Screen Shot 2019-12-12 at 1 04 47 PM](https://user-images.githubusercontent.com/20781126/70700463-06c44700-1ce0-11ea-8f1b-8f7badb5370d.png)

[2019-12-12 09:43] Kiarash-Z commented on #86
@thebrodmann Thanks for letting me know this. I'm gonna release a fix now

[2019-12-12 09:50] vbtux commented on #86
https://codesandbox.io/s/hungry-surf-4vubf?fontsize=14&hidenavigation=1&theme=dark

[2019-12-12 09:50] #86 closed

[2019-12-12 09:53] Kiarash-Z commented on #86
@vbtux Check the latest version (1.1.3) and it's fixed😊

[2019-12-12 09:56] Kiarash-Z opened #88 "Arrow position not correct when date picker is out of window bounds"
![image](https://user-images.githubusercontent.com/20098648/70702274-0e391f80-1ce3-11ea-879f-d3996bd698db.png)

[2019-12-12 10:09] thebrodmann commented on #88
Maybe we should add a state class (e.g. `-is-active`) to `.DatePicker` and move the `::after` pseudo-element back to the `.DatePicker` class.

[2019-12-12 10:11] #88 closed

[2019-12-12 10:12] Kiarash-Z commented on #88
Fixed in 1.1.4

[2019-12-12 10:13] Kiarash-Z commented on #86
@vbtux this fix actually caused a new bug(#88) I fixed that as well. Please use 1.1.4 😁

[2019-12-14 07:35] saeed-mosavat opened #90 "Api change in a minor release"
**Describe the bug**
My code was broken after running a `yarn install` on a different machine.
The input of locale utilities has been changed (from `true/false` to `'fa'/'en'`) since `v1.1.0` and this utitlity was exported in the index file. So I think this is an API Change and requires a **major** version upgrade not a minor one.

**Expected behavior**
No change in api should be experienced on mi

[2019-12-14 10:18] thebrodmann commented on #90
**BREAKING CHANGE** caused by 240b4f36f0d60114b3951b1c626c3e48cef0607b

[2019-12-14 10:52] SidMorad commented on #79
#90 related.

[2019-12-14 11:32] namipsg opened #91 "TypeError ReactJS"
TypeError: o is not a function
y
node_modules/react-modern-calendar-datepicker/lib/index.js:1

it gets this error when render function executes
`<DatePicker
                                    selectedDay={today}
                                    inputPlaceholder="date" // placeholder
                                    formatInputText='YYYY/MM/DD' // format value

[2019-12-14 14:25] thebrodmann commented on #91
Hey @namipsg, can you provide a repro through a [CodeSandBox](https://codesandbox.io/)?

[2019-12-15 15:03] Kiarash-Z commented on #90
Hi @saeed-mosavat,I'm sorry about this ❤️. In fact, I just considered the calendar API for such changes. It never occurred to my mind that utils will have a BREAKING CHANGE. Now we're at 1.1.4. id doesn't make sense to bump version only for this. I would consider these changes more carefully in the next releases 👾

[2019-12-15 15:03] #90 closed

[2019-12-15 15:06] Kiarash-Z commented on #91
Hi @namipsg, as it's mentioned in [Props List page](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/props-list), **you should use a function for `formatInputText`**. `string` is not a valid value for this prop. There are a couple of examples for this on [Customization page](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/customization)

[2019-12-16 20:32] namipsg commented on #91
Thanks a lot @Kiarash-Z ! one more question do you have any suggestions that how we can enable auto tab on this module? i mean if we have 2 DatePicker's and user selects first date , first input automatically closes and second DatePicker opens instantly

[2019-12-17 11:48] MasoumeAfshar opened #92 "range persian datepicker"
when I want to use this calendar for **Persian range,** it makes an error and exactly not work, :(
please add this feature soon, thx

[2019-12-17 11:54] Kiarash-Z commented on #92
Hi @mafshark, this is so vague. What error does it throw? I just tried Persian range picker and it's working perfectly: [CodeSandbox working demo](https://codesandbox.io/s/dank-resonance-9e250?fontsize=14&hidenavigation=1&theme=dark)

[2019-12-17 12:05] Kiarash-Z commented on #91
@namipsg You can do that [like this demo on CodeSandbox](https://codesandbox.io/s/pensive-stallman-m1d9g?fontsize=14&hidenavigation=1&theme=dark), but instead of 2 separate datepickers, I would recommend using a single range date picker.

[2019-12-17 12:05] #91 closed

[2019-12-17 12:14] MasoumeAfshar commented on #92
this is my code
![Screenshot from 2019-12-17 15-43-15](https://user-images.githubusercontent.com/30409314/70994700-06fb8280-20e4-11ea-8ee7-2403cd841433.png)

`import React, { useState } from "react";
import "react-modern-calendar-datepicker/lib/DatePicker.css";
import DatePicker from "react-modern-calendar-datepicker";
import './style.scss'

const DP = () => {

  const [selectedDay, setValue] = us

[2019-12-17 12:15] MasoumeAfshar commented on #92
this is my code
![Screenshot from 2019-12-17 15-43-15](https://user-images.githubusercontent.com/30409314/70994793-3611f400-20e4-11ea-8911-af0f5739a9ac.png)

`import React, { useState } from "react";
import "react-modern-calendar-datepicker/lib/DatePicker.css";
import DatePicker from "react-modern-calendar-datepicker";

const DP = () => {
  const [selectedDay, setValue] = useState({ from: null, to

[2019-12-17 12:18] thebrodmann commented on #92
@MasoumeAfshar Did you set `locale` prop to `'fa'` in the `Datepicker` component?

[code]

[2019-12-17 12:19] Kiarash-Z commented on #92
@MasoumeAfshar `return` is empty in this code 😑

[2019-12-17 12:21] MasoumeAfshar commented on #92
import React, { useState } from "react";
import "react-modern-calendar-datepicker/lib/DatePicker.css";
import DatePicker from "react-modern-calendar-datepicker";
import './style.scss'

const DP = () => {

  const [selectedDay, setValue] = useState({ from: null, to: null });

  return (
    <DatePicker
      locale="fa"
      value={selectedDay}
      onChange={setValue}
      shouldHighlightWeeken

[2019-12-17 12:22] MasoumeAfshar commented on #92
return (
    <DatePicker
      locale="fa"
      value={selectedDay}
      onChange={setValue}
      shouldHighlightWeekends
    />
  );

[2019-12-17 12:22] MasoumeAfshar commented on #92
<DatePicker
      locale="fa"
      value={selectedDay}
      onChange={setValue}
      shouldHighlightWeekends
    />

[2019-12-17 12:24] MasoumeAfshar commented on #92
<DatePicker
      locale="fa"
      value={selectedDay}
      onChange={setValue}
      shouldHighlightWeekends
    />

[2019-12-17 12:26] MasoumeAfshar commented on #92
<DatePicker
      locale="fa"
      value={selectedDay}
      onChange={setValue}
      shouldHighlightWeekends />

[2019-12-17 12:28] MasoumeAfshar commented on #92
![Screenshot from 2019-12-17 15-43-15](https://user-images.githubusercontent.com/30409314/70995499-eb917700-20e5-11ea-9487-8327f03154ce.png)

[code]

[2019-12-17 12:28] thebrodmann commented on #92
What is the version of the library you are using?
You can find it by running following command in the root of your project:
[code]

[2019-12-17 12:30] MasoumeAfshar commented on #92
`react-modern-calendar-datepicker@1.0.1 `

[2019-12-17 12:32] thebrodmann commented on #92
Please run the following command in the root of your project:
[code]

[2019-12-17 12:34] thebrodmann commented on #92
@Kiarash-Z we should do something for the breaking change mentioned in #90. We can fix it or just let the developers know that there was a breaking change in README or documentation website.

[2019-12-17 12:45] Kiarash-Z commented on #92
@thebrodmann just released 2.0.0 with no changes because of this👍

[2019-12-17 12:45] Kiarash-Z commented on #90
@saeed-mosavat @thebrodmann just released 2.0.0 with no changes because of this👍

[2019-12-17 12:48] Kiarash-Z commented on #92
@MasoumeAfshar please install the latest version and your issue should be fixed😇

[2019-12-17 12:51] MasoumeAfshar commented on #92
I updated the version and it was fixed , thx :+1:

[2019-12-17 13:03] #92 closed

[2019-12-22 11:27] MasoumeAfshar opened #94 "showing two months, current month and next month"
hi, I want to show two months exactly together I mean current month and next month , how can  I do that
![Screenshot from 2019-12-22 14-54-10](https://user-images.githubusercontent.com/30409314/71321153-fa53a180-24ca-11ea-84b5-929c2b2f41a8.png)

[2019-12-23 13:15] Kiarash-Z commented on #85
Closed due to inactivity

[2019-12-23 13:15] #85 closed

[2019-12-23 13:16] Kiarash-Z commented on #94
Hi, For now, This is not possible yet because it would add extra complexity to the project

[2019-12-23 13:21] MasoumeAfshar opened #95 "minimum date for "to" date should be more than "from" date in Range Date picker"
I use Range Datepicker, it isn't correct that "from" date be equal with the "to" date, minimum date for the "to" date should be more than "from" date

[code]

[2019-12-23 13:52] Kiarash-Z commented on #95
@MasoumeAfshar This is the expected behavior. Imagine you want to select a day range for your payments, and you want to see only today's payments. How would you select that(with keeping the functionality for other ranges selection)?

[2019-12-23 14:30] MasoumeAfshar commented on #95
This usage is less likely to occur, Why use Range in these circumstances, to see only today's payments!!
This is not good for booking and at least has the ability to set limits for the "to" date

[2019-12-23 14:57] Kiarash-Z commented on #95
@MasoumeAfshar This is actually quite popular! I used it many times in my projects. However, this date picker is quite customizable. You can easily control this behavior by checking `value` in `onChange` callback. Just make sure to is not equal to from, if it is, don't update the state and show an error for the user.

[2019-12-23 14:57] #94 closed

[2019-12-24 07:43] MasoumeAfshar commented on #95
thx

[2019-12-24 11:39] #95 closed

[2019-12-30 06:42] iksent opened #96 "Calendar crash"
Crash while openning Calendar.

![2019-12-30_11-40-37](https://user-images.githubusercontent.com/32956521/71570878-3608ef80-2af9-11ea-986c-1a433e81f8cc.png)

Code:
[code]

[2019-12-30 06:51] iksent opened #97 "Weird behavior by clicking on Month/Year pickers"
**Describe the bug**
If you click on the month select, after that click on the empty space near the select:

<img src="https://user-images.githubusercontent.com/32956521/71571089-787efc00-2afa-11ea-9e0e-122ac5ab9f43.png" width="300">

we will see that the month-picker has disappeared:

<img src="https://user-images.githubusercontent.com/32956521/71571091-7ae15600-2afa-11ea-8bc0-22bd7fa4f68f.png" w

[2019-12-30 15:01] Kiarash-Z commented on #96
Hi, This is because of giving invalid year(1200) which is out of valid calendar bounds. You can specify minimum selectable year and fix this error by setting `selectorStartingYear` prop to `1100` for example.

[2019-12-30 15:02] Kiarash-Z commented on #97
@iksent Thanks for letting me know. I will fix this in the next release ASAP

[2019-12-30 17:49] namipsg opened #98 "minimumDate is not working when locale is 'fa'"
hi
minimumDate is not working when locale is 'fa'.
it disables all days and when you try to set min date manually it doesn't do anything at all
<DatePicker                                            `
value={this.state.x1}
                                            shouldHighlightWeekends
                                            inputClassName="form"

[2019-12-30 18:28] namipsg commented on #98
sorry it was a problem with editor that removed the fa between brackets in utils().

[2019-12-30 18:28] #98 closed

[2019-12-30 19:05] iksent commented on #96
Ok, thanks, but anyway crush is a problem :)

[2019-12-30 19:13] iksent opened #99 "Feature / Prop for locales strings + Week shift"
**Locale feature description**
Please, provide a prop for setting up an object like `localeLanguages.en` from this: https://github.com/Kiarash-Z/react-modern-calendar-datepicker/blob/master/src/shared/localeLanguages.js
This is a must-have feature, because it is impossible to use this calendar without localization in the desired language. And in order not to wait until all languages ​​are added, p

[2019-12-30 19:29] Kiarash-Z commented on #99
@iksent Fantastic ideas, thank you! 😍 I will work on them for the next version

[2019-12-30 19:29] Kiarash-Z commented on #96
That is right. I will implement a cash-free behavior for this👍

[2019-12-31 07:10] penkong opened #100 "calender with typescript"
I just copy paste basic usage of DatePicker from core concepts of https://kiarash-z.github.io/,
already in error and does not show why we have it .
app created with :
create-react-app appName --typescript

some body help.

[2019-12-31 07:25] Kiarash-Z commented on #100
@thebrodmann Any idea? 🤔
![image](https://user-images.githubusercontent.com/20098648/71613481-02db6480-2bbc-11ea-959b-ba4595ffdddf.png)

[2019-12-31 07:45] penkong commented on #100
![Capture-1](https://user-images.githubusercontent.com/46618662/71614027-69319a00-2b5e-11ea-8d22-f0393cb05ae8.PNG)

[2019-12-31 08:23] thebrodmann commented on #100
It's important to define the `useState` generic type variable explicitly. Otherwise, it's returned value and callback function type will be just something like `null` and `(value: null) => null`.

[code]

@penkong in the screenshot you provided, you are using a wrong `Day` type (properties are optional which is wrong IMO). Use the `Day` type from the package and it should work.

[2019-12-31 08:25] thebrodmann commented on #100
We need to provide a section in documentation to explain the usage of the library with TypeScript.

[2019-12-31 08:39] penkong commented on #100
OF COURSE ,
 any way thanks team changed it to class base and it already works.
thanks ,
I close it .

[2019-12-31 09:39] penkong commented on #100
in this
`  const [day, setDay] = React.useState<Day>(null); `
you can not pass null , value of DatePicker don't accept it .

-------
ok we also have problem on class base style.
please give info for setDay() and type of event that it get.
` setDay = (e : type?????) => {
    this.setState({ day : what here???? })
}`

[2019-12-31 10:08] penkong commented on #100
![Capture](https://user-images.githubusercontent.com/46618662/71617972-6c368580-2b72-11ea-95fb-651c8e86aad6.PNG)
![Capture2](https://user-images.githubusercontent.com/46618662/71617976-6f317600-2b72-11ea-9a66-7533215ea1c4.PNG)

[2019-12-31 10:32] mahdi-kargar opened #101 "When i click on DatePicker input (select a day), calendar doesn't show"
since i used new version of (react-**modern**-calendar-datepicker), when i clicking on DatePicker input(select a day), calendar doesn't show. but previous version (react-**persian**-calendar-date-picker) works perfectly.
![image](https://user-images.githubusercontent.com/22619227/71618521-2363e880-2bd5-11ea-85af-8a2ee291b334.png)

i used project samples code (core-concepts).

`import React, { useS

[2019-12-31 10:44] Kiarash-Z commented on #101
Hi @mahdi-kargar, can you provide this on [CodeSandbox](https://codesandbox.io/) please?

[2019-12-31 10:46] Kiarash-Z commented on #100
@penkong This is because you're using `locale="fa"`. Change it to `locale="en"` and it will work!

[2019-12-31 10:47] Kiarash-Z commented on #100
@thebrodmann Can you please work on TypeScript documentation on website? (on branch `develop`)

[2019-12-31 11:14] mahdi-kargar commented on #101
I'm sorry. i think, this is related to my project, and i couldn't be able to provide that on CodeSandbox (because of many dependencies required by the project).
**in  a new react empty project, DatePicker works perfectly**. excuse me, but where can i play with z-index or any similarities in your awesome component to solve this problem. i think, it can be helpful.

i changed .DatePicker__calendarCo

[2019-12-31 12:11] thebrodmann commented on #100
[code]

[2019-12-31 12:11] thebrodmann commented on #100
@Kiarash-Z sure. I will work on it.

[2019-12-31 12:33] Kiarash-Z commented on #101
@mahdi-kargar you can change zIndex of datepicker container by giving a class with `wrapperClassName` prop. BTW, if you can't resolve the issue, I can help you [in Telegram](https://telegram.me/Kiarash_Z).

[2020-01-01 09:19] mahdi-kargar commented on #101
Thanks. There were **parallel css styles** (remained from old version), in projectFolder/**build/static/css** . i removed them, now it's working perfectly.

[2020-01-01 09:44] #101 closed

[2020-01-02 15:53] spostad7 opened #103 "Cannot read property 'months' of undefined"
upgrading from v1.0.1 to v2.0 facing with
'Cannot read property 'months' of undefined'
everything else untouched

[2020-01-02 16:11] #103 closed

[2020-01-03 09:50] #100 closed

[2020-01-03 10:17] Kiarash-Z opened #105 "v2.1.0 roadmap"
Here will be the new things in v2.1.0 🎉:
- Prop for locales strings + Week shift related to #99
- Fix some bugs in month selection menu when it's open related to #97
- Avoid common errors in default year value by showing a message related to #96

Any idea is appreciated 🙏🏻

[2020-01-03 10:18] Kiarash-Z commented on #96
moved to #105

[2020-01-03 10:18] #96 closed

[2020-01-03 10:18] Kiarash-Z commented on #97
moved to #105

[2020-01-03 10:18] #97 closed

[2020-01-03 10:18] Kiarash-Z commented on #99
Moved to #105

[2020-01-03 10:18] #99 closed

[2020-01-03 12:27] thebrodmann commented on #105
Isn't it better to ship #96 and #97 through 2.0.1?

[2020-01-03 13:27] Kiarash-Z commented on #105
@thebrodmann It's true that they're patch updates, but I'm planning to fix them along with introducing new features to the date picker; that's I want to bump to 2.1.0

[2020-01-06 16:05] ReyhaneMasumi opened #107 "facing with 'TypeError: getLanguageText(...) is undefined' error"
Hi,
Your datepicker component worked well until 2days ago.
Suddenly our project stopped working with 'TypeError: getLanguageText(...) is undefined' error.
Also, We upgrade the module to ver 2.0 but the problem has not been resolved.
Please fix this bug ASAP cause this module is very good and efficient and we like to use it.
thanks.

[2020-01-06 19:00] Kiarash-Z commented on #107
Hi, can you reproduce this issue on [getLanguageText](https://codesandbox.io/) please? this way, I can investigate the problem better 🙏🏻

[2020-01-06 19:05] Kiarash-Z commented on #107
@ReyhaneMasumi  My guess is your error is because of the addition of the new `locale` prop in the new version which is breaking. You need to set `locale="fa"` in order to work with the module. [There are a couple of examples on the document.](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/different-locales)

[2020-01-06 19:51] HosseinAlipour commented on #105
Is it backward compatible with v1? if not please provide the migration guide. thanks

[2020-01-07 07:23] thebrodmann commented on #105
@HosseinAlipour now we are on version 2.0.0 which is not compatible with version 1.0.0 due to breaking change that has been explained in #90.

[2020-01-07 07:28] thebrodmann commented on #105
Absolutely we need a guide for the breaking change. @Kiarash-Z  I think there was some issues related to it. So maybe it worth to add a migration guide from version 1.x.x to version 2.x.x to the documentation.

[2020-01-07 08:30] ReyhaneMasumi commented on #107
https://stackblitz.com/edit/react-5tq3uj?file=index.js
'utils' has bug!

[2020-01-07 08:32] #107 closed

[2020-01-07 08:33] Kiarash-Z commented on #107
@ReyhaneMasumi yeah instead of `utils(true)` you had to use `utils('fa')`.

[2020-01-07 08:36] Kiarash-Z commented on #105
@thebrodmann Anyway, no body's gonna read it 😑If people paid attention to breaking version change, and therefore, read the document, they wouldn't encounter such issues. I will add this section though...

[2020-01-09 12:22] iksent commented on #105
@Kiarash-Z, hello!
When are you planning to release 2.1.0?

[2020-01-10 11:57] Kiarash-Z commented on #105
@iksent Hi, hopefully, I will release this new version next week.

[2020-01-13 13:52] Kiarash-Z commented on #105
@iksent new version is out 🎉you can use your own custom locale for the date picker. [You can do it like this](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/different-locales).

[2020-01-13 13:52] #105 closed

[2020-01-13 14:44] mrmmg opened #109 "Use this calendar in web"
**Describe the solution you'd like**
Hi Kiarash... Is any option to use this calendar in web programming? I wanna use this in an HTML page like a date picker or calendar.
For example, I found a js library: [LINK](http://babakhani.github.io/PersianWebToolkit/doc/datepicker/example/)

[2020-01-14 04:44] iksent opened #110 "2.1.0 Bugs"
Hello, @Kiarash-Z!
Thanks a lot for your work, 2.1.0 do exactly what I need.

**But there are some bugs:**

1. `weekStartingIndex` do the work, calendar is now with the right shift. But our weekends are not correct. Don't it need to be shifted too?
I will disable `-weekend` styling for now (May be add prop for it's color like `colorPrimary`? :)

<img width="300px" src="https://user-images.githubus

[2020-01-15 09:21] Kiarash-Z commented on #109
Hi Mehdi, this package is indeed for web though it's made for React. You can use it on any React project, but on vanilla JavaScript, it's not possible.

[2020-01-15 09:27] Kiarash-Z commented on #110
Hi @iksent, I'm glad this version meets your needs 😊

1- You can easily disable weekends' highlights by giving `shouldHighlightWeekends={false}` (removing it from passed props will do the trick as well)

2- Actually, it should crash 🤔 All the details for a custom language are mandatory. If the date picker can't get them properly, how is it supposed to work?

3- Sure, I'm sorry I didn't add a custo

[2020-01-15 10:21] iksent commented on #110
1 - Yeah, I have already remove this prop, but this is a workaround, because I just can't use this property, it highlights not correct weekends.

2 - Why all the details are mandatory? Why I just can't set up strings and do not change the common logic of picker? I think you need to use your functions, If user didn't provide his.

3 - Perfect, thanks.

[2020-01-15 16:07] #109 closed

[2020-01-16 09:02] iksent commented on #110
Oh no! Why this does not work in IE, at least in 11 :((

It is possible to fix it?

<img src="https://user-images.githubusercontent.com/32956521/72509143-bdc85b00-3868-11ea-86ce-550855d8d726.png" width="200px"/>

[2020-01-16 21:16] BabakYaghoobi opened #111 "Editable DatePicker"
Hi,
Thanks for great component,

How can use it like Material UI KeyboardDatePicker , both type manual or click button for open picker ?
like this : https://material-ui-pickers.dev/demo/datepicker

Regards

[2020-01-18 12:14] Kiarash-Z commented on #111
Hi @BabakYaghoobi, I think using a keyboard for input to modify its value will lead to confusion for users. I'm not currently planning to implement such a feature.

[2020-01-18 12:14] #111 closed

[2020-01-18 12:16] Kiarash-Z commented on #110
1- I will fix that! you will be able to determine your weekends in an array...
2- Because all formats for date values are stored in native locale not in common Gregorian locale.  I will do my best to reduce these details so you will only pass a function to convert Gregorian date to your native locale date.

[2020-01-18 12:19] Kiarash-Z commented on #110
Unfortunately, I'm not really planning to make this date picker work in IE. IE is an old browser, and it's missing support for many basic features.

[2020-01-19 05:01] iksent commented on #110
Very sad, can't use it without IE11 :(

[2020-01-19 10:27] Kiarash-Z commented on #110
@iksent IE is not important anymore. We're living in 2020. Unless you build your applications for dinosaurs, IE doesn't matter. Many huge companies like Apple don't support IE in for their website and they encourage you to use a newer browser...

[2020-01-19 10:31] iksent commented on #110
I can’t influence this, people from the client's company use IE11.

[2020-01-21 09:15] iksent commented on #110
Hello, @Kiarash-Z.
I figure out the problems at IE11 and suggest the easiest way:
Change your code a bit and write a guide on how to make compatibility with IE11.

**CHANGES**
1. IE not supports `classList.replace`
[code]

2. Wrapper CSS
[code]

[code]

3. Buttons CSS

Can't fix it by now, but I'll try it later again.

<img src="https://user-images.githubusercontent.com/32956521/72790803-0f515b00-

[2020-01-22 08:00] mahdibarati opened #112 "Ui Problem"
problem in ui:
![image](https://user-images.githubusercontent.com/33564973/72875930-95c67500-3d0a-11ea-90c0-2afb887b2790.png)

[2020-01-22 15:32] thebrodmann commented on #112
Please load the CSS into your bundle as described in the [documentation](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/getting-started).

[2020-01-25 16:56] Kiarash-Z commented on #110
Thank you @iksent ☺️, this is very nice. If I find a solution for the number 4, I would considering adding support for IE 11.

[2020-01-25 18:03] #112 closed

[2020-01-27 06:35] shakibmiraki opened #113 "Datepicker is not working with formik"
i've created a form with formik and put a date picker into the form but the validation is not working as expected,
below is my component.
[code]
[code]

[2020-01-27 09:50] thebrodmann commented on #113
Please follow #76.

[2020-02-03 13:21] #113 closed

[2020-02-18 11:01] hamidrz021 commented on #76
When i set the initial value of selected day everything is fine
But as soon as I click on Input of Datepicker I get an error :
"**Invalid array length**" and "**The above error occurred in the DaysList component**"
This error is also available in your [CodeSandBox](https://codesandbox.io/s/serene-fog-oob88-oob88?fontsize=14&hidenavigation=1&theme=dark) example

[2020-02-18 13:53] hamidrz021 opened #114 "initialValue of DatePicker in formik does not work"
Hi
Thanks for your nice package
I read and implemented [this issue](https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/76)
When i set the initial value of selected day everything is fine
But as soon as I click on Input of Datepicker I get an error :
"Invalid array length" and "The above error occurred in the DaysList component"
Then the app crashes
I also tried to remove the loca

[2020-02-18 13:56] thebrodmann commented on #114
The CodeSandBox you mentioned is a single day selector!

[2020-02-18 14:11] hamidrz021 commented on #114
I need this selector for birthDate
So i think this is ok and i want single day selector

[2020-02-18 19:01] thebrodmann commented on #114
Are you flagging that the CodeSandBox you mentioned is not working and will crash when you click on input? I couldn't repro the issue. The mentioned CodeSandBox is working like a charm!

[2020-02-19 07:15] hamidrz021 commented on #114
This is my changes on [CodeSandBox](https://codesandbox.io/embed/react-modern-calendar-datepicker76-h3987?fontsize=14&hidenavigation=1&theme=dark) with locale = "fa" .

[2020-02-19 18:47] thebrodmann commented on #114
There are two problems with CodeSandBox you mentioned.

1. typo

[code]
2. using `string` instead of `number` for properties of `Day` object (I'm not 100% sure about this. @Kiarash-Z, Am I right?)

BTW, after executing the above lines the last CodeSandBox you provided [will work](https://codesandbox.io/s/react-modern-calendar-datepicker76-03rbg?fontsize=14&hidenavigation=1&theme=dark).

[2020-02-20 05:10] ahmadmrj opened #115 "Calendar align issue"
**Time picker  is needed with date or separately**
I use your date picker and it's better than other Persian packages in some ways.
But it doesn't have date picker.

I think, the ability of pick date and time in just one picker is good but if we could have this optional and can separate time and date picker it is a perfect one.

[2020-02-22 10:55] Kiarash-Z commented on #115
Hi @ahmadmrj, sorry for the latency in response. Would publishing a separate time picker with lots of dedicated features resolve your issue? or it should be integrated to this date picker?

[2020-02-22 10:57] Kiarash-Z commented on #114
@thebrodmann Thanks for taking care of this issue 😊

I think it wouldn't work.

[2020-02-22 11:02] ahmadmrj commented on #115
Thanks for your reply.

As I mentioned before, the ideal case would be having both options. but
currently I need separate timepicker element.

Regards.

On Sat, Feb 22, 2020 at 2:25 PM Kiarash Zarinmehr <notifications@github.com>
wrote:

[2020-02-22 11:09] Kiarash-Z commented on #115
I would consider publishing a rich separate time picker with **some integrating options to this date picker**! BTW, you said that

Do you have any specific suggestions to improve this date picker?  It would be massively appreciated

[2020-02-22 12:06] ahmadmrj commented on #115
Yes, I do. The date picker popup should  be able to open on top or bottom
of the input field depending on the page and form design. Your popup just
can be open on bottom. Having an option or being fluid according to space
around the input can improve your package.

On 22 Feb 2020 2:39 p.m., "Kiarash Zarinmehr" <notifications@github.com>
wrote:

[2020-02-22 12:39] Kiarash-Z commented on #115
That's nice. I will consider it in the following version for sure.

[2020-02-23 16:06] hamidrz021 commented on #114
@Kiarash-Z It already works for my case
But as you can tell I'm not sure.
What's your solution?

[2020-02-23 17:40] thebrodmann commented on #114
About what?

[2020-02-24 08:42] Kiarash-Z commented on #114
@hamidrz021 Use numbers!

[2020-02-25 10:15] Mvahedii opened #116 "change display BUG"
**Describe the bug**
i want to change default display in .DatePicker in /lib/DatePicker.css from
`display:inline-block;`
to
`display:block;`

**Expected behavior**
the changes are not working

[2020-02-25 10:25] Mvahedii opened #117 "change text-align BUG"
**Describe the bug**
i want to change default text-align in .DatePicker in /lib/.DatePicker__input.css from
`text-align: center;`
to
`text-align: right;`

**Expected behavior**
the changes are not working

[2020-02-25 14:29] Kiarash-Z commented on #117
@Mvahedii Hi, how are you styling that? are you using a custom CSS class for input using `inputClassName` prop?

[2020-02-25 14:30] Kiarash-Z commented on #116
I think you have the same issue as #117. Please let me know how you're applying your custom styles

[2020-02-26 05:15] Mvahedii commented on #117
Here is my Code :

[code]
@Kiarash-Z

[2020-02-28 08:37] Kiarash-Z commented on #117
@Mvahedii Can you reproduce the case in CodeSandBox please so I can investigate it better?

[2020-02-29 07:03] hamidrz021 commented on #114
@thebrodmann  @Kiarash-Z  Thank you

[2020-02-29 07:04] #114 closed

[2020-03-04 11:25] Kiarash-Z commented on #116
moved to #117

[2020-03-04 11:25] #116 closed

[2020-03-09 13:53] namipsg opened #118 "is there a way to add something to calendar/datepicker container?"
hi , i want to put a button into container to change calendar locale using component's state between shamsi and gregorian , is there a way to implement it on react-modern-calendar-datepicker ?

[2020-03-09 16:34] Kiarash-Z commented on #118
Hi @namipsg, inserting some HTML code in the calendar container is not possible yet. However, I might add a prop for rendering such stuff like a "select today" button in the next versions. Therefore, I'll keep this issue open for now...

[2020-03-09 18:13] #118 closed

[2020-03-11 16:35] Kiarash-Z commented on #118
@namipsg in the new version (3.0.1) there's a new prop called `renderFooter`. You can use that to render such a button in the calendar now 🎉 Documents for this on [Customization page.](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/customization)

[2020-03-11 16:38] Kiarash-Z commented on #115
@ahmadmrj In the latest version(3.0.1), the date picker aligns perfectly from any side. Check it out! 🎉

[2020-03-11 16:39] Kiarash-Z commented on #110
@iksent in the latest version (3.0.1) you can specify your custom weekends and also specify the short month name 🎉 [Here's the documentation ](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/different-locales/)

[2020-03-11 16:48] #115 closed

[2020-03-11 16:49] #110 closed

[2020-03-12 09:09] namipsg commented on #118
Great 🎉 thanks ! damet Jizz

[2020-03-12 18:09] spostad7 opened #120 "open/show class for datepicker"
I want to add an opening animation for datepicker when the user clicks on input. It seems the '-calenderOpen' class is removed since the new release. how can I get opening datepicker status based on classNames?

[2020-03-12 21:18] Kiarash-Z commented on #120
Hi @spostad7, you can actually look for an element with a class of `Calendar`. If there's such an element in DOM, the date picker is open. Otherwise, it's closed.

[2020-03-14 15:51] spostad7 commented on #120
@Kiarash-Z thank, but it is not possible for animating element that is not in DOM. if there is a class like 'open' that will add to the current element (e.g. .Datepicker), it is possible to animate it based on open class

[2020-03-14 17:43] spostad7 commented on #118
hi @Kiarash-Z ,
I used renderFooter for display 'today' button, but it seems that it doesn't work as expected. I used the sample code for renderFooter but it changes nothing in the calendar

[2020-03-14 17:55] spostad7 commented on #79
the locale='fa' just add the class '-fa' to DOM, but in style, there is '-rtl' class that defines the style for left2right lang.
with these changes in the new release, I had to change almost most part of my styles due to match with new datepicker  :-)

[2020-03-14 18:04] Kiarash-Z commented on #79
@spostad7 Sorry about that, but that's what a BREAKING change means.

[2020-03-14 18:06] Kiarash-Z commented on #118
@spostad7 Please make sure you're using the latest version of the package. If you're using the latest version and issue persists, please send me a reproduced version on [CodeSandBox](https://codesandbox.io/)

[2020-03-14 18:07] Kiarash-Z commented on #120
@spostad7 Can you explain your case a little more, please and why would you need such a class?

[2020-03-14 18:12] spostad7 commented on #120
@Kiarash-Z
have a look at [emadseir datepicker](https://emadseir.net/fa) that designed with the previous version.
as u see I can handle opening animation (I mean with transform or opacity) with the open class when the calendar opens. as u know there is not such an action to animate elements if there are no elements in DOM

[2020-03-14 18:16] spostad7 commented on #79
@Kiarash-Z
have u check locale='fa'?
I think there is a mistake in the CSS class, because it uses .rtl class instead of '.fa' or '-fa' class

[2020-03-14 18:38] Kiarash-Z commented on #79
@spostad7 It's actually right because the style changes applied for `locale="fa"` are only because of reversing the direction of some elements, and that's because Persian is RTL. If in any future release I add another locale for Arabic or any other RTL language, this `-rtl` class modifier will be still valid which is not the case with `-fa` modifier.

[2020-03-15 02:20] spostad7 commented on #118
@Kiarash-Z
thanks for the fast reply. it was my mistake. the package didn't update from the last version

[2020-03-15 10:10] Kiarash-Z commented on #120
@spostad7 That's a hell of customization. Great job! There's a way for achieving this in the latest version by:
1- Giving an initial animation style for the calendar like `opacity: 0; transform: translateY(2rem);`.
2- Listening for input `focus` & `blur` states to know when the date picker will be open/closed.
3- When date picker is open, Give the new animation style like `opacity: 1; transform: t

[2020-03-15 17:07] spostad7 commented on #120
@Kiarash-Z
The problem still exists with the first approach because the element is not in DOM yet. here is my try for animating from none exist element to open state:
[code]
also there is little point that after open datepicker, the two unwrapped element (.DatePicker__calendarContainer and .DatePicker__calendarArrow) will add seprately that is not suitable for animating and its better to wrap them

[2020-03-15 17:44] spostad7 opened #123 "close/destroy after select today button"
**Describe the bug**
In renderFooter, if the user clicks on today button the DatePicker does not close.

![localhost_3015_fa(iPad Pro)](https://user-images.githubusercontent.com/2351721/76706954-aab6f780-6700-11ea-93b9-a6c64ffddcea.png)

**Expected behavior**
The Datepicker is better to have onClose or destroy API/prop in which it invokes base on user action (click on a custom button or on calenda

[2020-03-15 17:48] spostad7 opened #124 "abbr tag display [object object] as title"

[2020-03-15 20:37] thebrodmann commented on #123
Maybe we can response to the input `value` change. Every time it has been changed the calender goes off.

[2020-03-16 07:18] spostad7 commented on #123
@thebrodmann
yes, it should be close on every value change. the today button changes the value to the current day but it doesn't close datepicker at all. Maybe an onClose or destroy callback is useful to close datepicker manually

[2020-03-16 10:05] thebrodmann commented on #123
For now, you can treat date picker like other inputs. Just change the focus of the page from the input of the date picker and then the date picker goes off.

[2020-03-16 10:07] Kiarash-Z commented on #124
Please describe your issue. This is so vague.

[2020-03-16 10:14] Kiarash-Z commented on #123
@spostad7 It's not a good practice to close the calendar for everything that is rendered in the footer, because not all the cases are today button. However, I'm thinking of exporting a custom `useDatePicker` hook and giving very useful utilities for such cases, it would be something like this:

[code]

[2020-03-16 10:16] Kiarash-Z commented on #123
For now, as @thebrodmann suggested an `input.blur()` will do it. But I think the above solution will be better If implemented in the next version.

[2020-03-16 10:17] spostad7 commented on #123
@Kiarash-Z
thanks! That would be great and enough for my issue

[2020-03-16 10:19] spostad7 commented on #124
@Kiarash-Z
here is what happened when user hover on calendar WeekDays (e.g. ش/ی/د/س/چ/پ/ج):

![Annotation 2020-03-16 134535](https://user-images.githubusercontent.com/2351721/76746559-f2836080-678c-11ea-831a-3774762fa008.png)

[2020-03-16 10:28] Kiarash-Z commented on #124
Oh, you're right. Thanks for the bug report. Will be fixed in the next version.

[2020-03-16 11:17] thebrodmann commented on #123
Is there any scenario in which the calendar should be closed without any change in the state?

[2020-03-16 18:14] spostad7 opened #125 "DateRange for DatePicker"
I have two datepicker inputs and I want that user selects a date range.

**this is the expected behavior:**
1- user clicks on the first datepicker input and selects the first day. now the start day must have class
 ```-selectedStart```
![start](https://user-images.githubusercontent.com/2351721/76785617-051c8a80-67cb-11ea-9956-f989ecb5e885.png)

2- user clicks on second datepicker input to select e

[2020-03-16 18:49] thebrodmann commented on #125
Customize the input with `renderInput`.

[2020-03-17 13:51] spostad7 commented on #125
@thebrodmann
It does not solve my issue at all because I have to show users two different dates that he chose. Also, one input datepicker has bad UX because the user has to click twice on that input to pick a date

[2020-03-17 14:38] thebrodmann commented on #125
The example you provided is a single date picker with two inputs IMO!
![Screen Shot 2020-03-17 at 5 38 17 PM](https://user-images.githubusercontent.com/20781126/76867062-44ee7b00-687a-11ea-81a0-cdd5ec4bf53b.png)

[2020-03-17 15:14] spostad7 commented on #125
@thebrodmann
In my case, I have two horizontal inputs that are stacked on each other. If the user clicks on one of them, it owns datepicker shows up and the user picks start or end day from them. So I can't have single datepicker with two inputs; firstly because of design and secondly for the sake of datepicker limitation!

![Annotation 2020-03-17 184015](https://user-images.githubusercontent.com/

[2020-03-17 18:50] mammad2c opened #126 "Wrong position when multiple picker come near together."
**Describe the bug**
When multiple datepicker input come near together, the input show over the Datepicker.

![image](https://user-images.githubusercontent.com/16647736/76890686-0a4a0a00-689d-11ea-81ea-4e3337f68740.png)

to see problem, go in [Customization Page](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/customization)
- inspect element
- remove div that holds the code high

[2020-03-18 10:41] thebrodmann commented on #125
So... 🤔

If you want to use a range date picker, the first date picker should be single day selection.
By the first date picker (single day selection) user will select the `from` property of the second date picker.

I think it's not obligated to have both values simultaneously.

[code]

[2020-03-18 11:41] spostad7 commented on #125
By the first date picker (single day selection) user will select the from property of the second date picker

good suggestion! now the question is how can I show second input value? as I checked the document there is no way to show the selected range in datepicker as input value because the value of DatePicker should be an object of 'from' and 'to' value and it is not possible to show only 'to' va

[2020-03-18 23:30] thebrodmann commented on #125
It's possible. I showed you the initial state in my last comment!

[2020-03-19 10:56] Kiarash-Z commented on #126
Thanks for the bug report, I will fix this soon.

[2020-03-21 10:23] spostad7 commented on #125
thanks, @thebrodmann!
this is final try on selecting a range from datepicker. at last, I format the input date and show the user only the 'to' value. for 'from' datepicker I used single date selection and for 'to' datepicker I used date range including an object that has 'from' and 'to' value.

[code]

[2020-03-21 13:21] thebrodmann commented on #125
So looks like this issue can be closed.

[2020-03-21 14:14] papinaser opened #127 "header title"
some time I want to show an title on header of calendar I want to do this feature

[2020-03-21 15:36] #125 closed

[2020-03-22 14:40] Kiarash-Z commented on #125
@thebrodmann thank you for taking care of this issue, highly appreciate that 😊

[2020-03-22 14:41] Kiarash-Z commented on #127
Hi, can you explain the use cases for such a feature please?

[2020-03-23 16:42] papinaser commented on #127
[image: image.png]

Like this page I want to add a feature that calendar have a label , I can
do this by change source in develop branch.

On Sun, Mar 22, 2020 at 7:11 PM Kiarash Zarinmehr <notifications@github.com>
wrote:

[2020-03-23 21:12] thebrodmann commented on #127
@papinaser we are not able to see any image!

[2020-03-23 21:22] papinaser commented on #127
image for Kiarash
<https://drive.google.com/file/d/1ufhKPZrz0qV1p3Hd1K8LTh7V_8Th-D-_/view?usp=sharing>

@Kiarash-Z/react-modern-calendar-datepicker
<reply@reply.github.com>

On Tue, Mar 24, 2020 at 1:43 AM amygdala :: ∀ a. a → IO Memory <
notifications@github.com> wrote:

[2020-03-24 11:20] PabloCorso opened #128 "CSS button style consideration"
There is a style under `src/DatePicker.css` that overrides all button styles. Would it be ok to have a more specific selector for it?

For example, it will target all buttons inside the renderFooter of the Calendar. It makes it much more difficult to override the footer button background since it is targeting button elements directly. I can't just import and use some external styles for the button

[2020-03-24 21:18] Kiarash-Z commented on #127
@papinaser Oh, I have to request access to just see an image? it would be nice if you could just copy-paste it here in Github. BTW, @thebrodmann is just really good! He can definitely help you 😊

[2020-03-24 21:19] Kiarash-Z commented on #128
@PabloCorso You're absolutely right. I will fix this in the next version. Thanks for reporting. I'll keep this issue open till the fix release.

[2020-03-24 21:19] Kiarash-Z commented on #117
Closed due to inactivity.

[2020-03-24 21:19] #117 closed

[2020-03-25 11:26] Kiarash-Z commented on #127
![image](https://user-images.githubusercontent.com/20098648/77531670-ec8a2f80-6eb0-11ea-93f2-cbcf91accd4e.png)

Ok here's the image. I think it would be much better if you move the title in input instead of the calendar. Input's placeholder is indeed better for such cases for accessibility and UX sakes.

[2020-03-26 10:06] mskarimi opened #129 "datePicker dropDown"
in datePicker how show only dropDown calendar?

[2020-03-26 13:49] Kiarash-Z commented on #129
@mskarimi As mentioned in the document, you can use `Calendar` component instead of `DatePicker` for such purposes.

[2020-03-27 10:11] simonpal opened #130 "Locale prop is expecting a string, not an object"
**Describe the bug**
I'm trying to change the locale settings to fit my need according to this documentation: https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/different-locales

**Expected behavior**
Be able to set the customLocale object to the locale prop, but locale is expecting a string instead of interface Locale

[2020-03-27 12:07] Kiarash-Z commented on #126
That was an issue with some extra classes I added to the customized input in the website documents. Fixed now 😊

[2020-03-27 12:07] #126 closed

[2020-03-27 12:22] Kiarash-Z commented on #130
@simonpal Sorry about that. I fixed it on the latest version. Can you please install the latest version (3.0.3) and check this again?

[2020-03-27 12:23] Kiarash-Z commented on #128
Fixed on the latest version(3.0.3) 🎉

[2020-03-27 12:23] #128 closed

[2020-03-27 12:23] Kiarash-Z commented on #124
Fixed on the latest release(3.0.3) 🎉

[2020-03-27 12:23] #124 closed

[2020-03-29 19:54] masihjahangiri opened #133 "Add purge css ignore comment"
**Describe the bug**
Purge css plugin remove date picker css.

Please add purge css ignore comment to first and last line of `react-modern-calendar-datepicker/lib/DatePicker.css` to solve this bug.
[code]

[2020-03-30 09:17] mohammadsadeghforoughi opened #134 "custom Font"
hi, this is awesome Persian handled datepicker; but I can't modify the default font family.
where and how I can change the font family.
I use ```<Datepicker>``` + input; I want to change entire datepicker font (Days numbers)

[2020-03-30 18:36] richardbruskowski commented on #134
Not a maintainer or contributor, but the `font-family` is inherited, so I think you should be able to change it by defining the `font-family` of a parent element (or even globally):

[code]

[2020-03-30 18:38] Kiarash-Z commented on #133
Hi, this doesn't make sense. Where do you import the CSS file of the library? if you're importing it in the same file that you're using the date picker, Purge should detect it as a used style and therefore, it wouldn't remove styles.

[2020-03-30 18:40] Kiarash-Z commented on #134
@richardbruskowski is absolutely right. As I mentioned in [Getting Started ](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/getting-started) page, `font-family` is inherited.

[2020-03-30 18:48] mohammadsadeghforoughi commented on #134
thank you
I changed the font-family but in this part, no font changed;
[here](https://imgur.com/bBoKDWJ)
@Kiarash-Z  @richardbruskowski

[2020-03-30 18:50] Kiarash-Z commented on #134
@mohammadsadeghforoughi I think there's a problem in addressing your font. Can you reproduce this on [CodeSandBox](https://codesandbox.io/) please?

[2020-03-30 18:55] mohammadsadeghforoughi commented on #134
I used ```Yekan``` font entire of my app, but in this section is not applied.
the strange thing is I can't select days in ```inspect element``` because of the datepicker hides if I can see CSS properties I can debug it.
i think i have some problem in my code but the closing datepicker in selecting ```inspect element``` is an issue. @Kiarash-Z

[2020-03-30 19:10] Kiarash-Z commented on #134
@mohammadsadeghforoughi Temporarly, you can use `Calendar` component instead of `DatePicker` component to inspect elements easily.

[2020-03-30 19:15] mohammadsadeghforoughi commented on #134
thank you so much, I'll test it tomorrow.
@Kiarash-Z

[2020-03-30 19:29] LuisRizo opened #135 "Add `style` prop customization"
**Is your feature request related to a problem? Please describe.**
In my company, we try to avoid adding CSS files as much as possible. Would it be possible to add a style prop rather than className props?

**Describe the solution you'd like**
The best solution would be to have an implementation similar to that of react-select (https://react-select.com/styles) that has a single `styles` prop that

[2020-03-31 06:15] Kiarash-Z commented on #135
Hi, my reasons for using pure CSS over CSS-in-JS libraries are just similar to anyone who prefers them. [Here are a couple of reasons why:](https://medium.com/better-programming/using-css-modules-with-react-in-2020-73c2223f495c):

- It’s just CSS
- No runtime
- Export styles to a CSS file easily
- Same setup for SSR and CSR

I don't find a `.js` file appropriate for writing styles there. I underst

[2020-04-01 09:27] richardbruskowski opened #136 "Themability: Color & Arrow"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to easily change the color scheme of the component and swap the arrow icon.

**Describe the solution you'd like**
Set key colors through props. Use these as CSS variables throughout the component.

**Describe alternatives you've considered**
I can override most colors with classes and CSS selectors, but not for

[2020-04-01 11:49] masihjahangiri commented on #133
I solve my issue with change post-css config. I add `./node_modules/react-modern-calendar-datepicker/**/*.js` to `content` config array :
[code]
But I still have problem.
![Untitled](https://user-images.githubusercontent.com/35561271/78133803-5d42c600-7434-11ea-9015-bd6308780610.png)
Above `defaultExtractor` config have issue with date picker css classNames.
All className don't pass through the `d

[2020-04-01 11:56] sinamoradi1375 opened #138 "DropDown doesn't work as expected"
The thing is,  no matter wherever I put the Datepicker, It always pops up to the top side of the input and it doesn't care about the location of scroll which it should open to the bottom side.
I'm using react semantic ui and I'm not sure if it's the reason for this conflict

![Screenshot (7)](https://user-images.githubusercontent.com/38537095/78134443-68e2bc80-7435-11ea-8ffe-bf9dd1af5818.png)

[2020-04-01 12:48] #129 closed

[2020-04-01 12:51] Kiarash-Z commented on #138
In the screenshot you've provided, it shouldn't open from bottom because there's not enough space over there(your dev tools got some space). If you provide an example on CodeSandBox, I can investigate it easily.

[2020-04-01 12:51] Kiarash-Z commented on #134
@mohammadsadeghforoughi Did you get it working?

[2020-04-01 14:04] mohammadsadeghforoughi commented on #134
Yes, I used the ```<Calendar>``` and I see the font-family inherited as you said, but still font not applied, I catch the bug; in the component, Persian Numbers is Persian, not English (in Standard keyboard, top numbers) and my font family have not numerical fonts for Persian numbers.
I have to change the font family
Thank you so much for your time to help me.
@Kiarash-Z

[2020-04-01 16:57] sinamoradi1375 commented on #138
Thank you for your response in such a short notice, I'll keep you posted

[2020-04-01 18:57] Kiarash-Z commented on #134
It's recommended to use Iran Sans o Iran Yekan fonts. I'm assuming this issue has been resolved. I close this.

[2020-04-01 18:57] #134 closed

[2020-04-01 18:58] Kiarash-Z commented on #127
Closed due to inactivity.

[2020-04-01 18:58] #127 closed

[2020-04-01 19:02] Kiarash-Z commented on #136
Hi Richard, thank you so much for publishing this for Framer X. It's recommended to discuss the features here and then on a pull request. The changes you want to apply like changing the arrow are really vast. I think instead of implementing dozens of props for customizing one little thing, it's better to have a nice API for theming with some default themes like `light` or `dark`.

[2020-04-01 22:15] richardbruskowski commented on #136
You're welcome, thank you for building this!

Regarding the API: I see, that makes sense.
Maybe instead of adding a prop for each color, …
- having the option to override the CSS color variables directly through a custom class might be a better way, or …
- one `theme` prop, that can either be a preset like `dark` and `light` or an object with all color definitions.

Anyways, my prototyping use cas

[2020-04-04 19:45] #138 closed

[2020-04-05 19:45] Kiarash-Z commented on #136
I think the second option is way better. I need others opinion about this API 🤔 I gotta pin this issue.

[2020-04-06 15:20] devbarreto opened #139 "Include another default language"
**Is your feature request related to a problem? Please describe.**
This is a nice component in Brazilians vision. Although is not a problem in fact everytime that we want to use this calendar, we may send that whole langage locale param  (that have some problems with compatibility in last version @3.0.5)

**Describe the solution you'd like**
So I would like to include one more locale option: "pt-B

[2020-04-07 13:06] Kiarash-Z commented on #133
@masihjahangiri Can you please reproduce this on CodeSandBox or if it's not possible to config purge there, provide a repo for me to investigate the case more carefully?

[2020-04-07 17:59] Kiarash-Z commented on #139
You don't need to do that. You can create a common component called `MyDatePicker.js` in which you pass the language once and use it everywhere!

Can you explain the compatibility issue please?

[2020-04-07 22:25] devbarreto commented on #139
Later I resolve to try on this way. Happily my application worked how we expect with the unification of the configuration.

I'm sorry for the inconvenience. You can close this PR.

Thanks for your attention.

[2020-04-07 22:25] #139 closed

[2020-04-19 13:26] Ramezanbeik opened #140 "Close Date Picker When Selected Year Or Month in Firefox"
Hello
First of all, I have to thank your excellent component.
Question:
Due to a special situation, I have to use Firefox browser version 47.0.1.
But] why, just after the month or year is selected from the list, the  DatePicker closed and is no longer displayed on the day selection page.
If possible, guide me in this regard.
Thank you very much

[2020-04-20 07:46] SidMorad opened #141 "popperPlacement prop"
**Is your feature request related to a problem? Please describe.**
I am using `DatePicker` inside this component which doesn't show `DataPicker`'s popper when opens at the top. So I would like to force `DatePicker` to open it's popper at bottom.

**Describe the solution you'd like**
I found [this comment](https://github.com/Hacker0x01/react-datepicker/issues/1246#issuecomment-361833919) helpful.

[2020-04-20 07:58] Kiarash-Z commented on #140
@Ramezanbeik Can you please record the situation and share the video here so I can investigate it?

[2020-04-20 08:00] Kiarash-Z commented on #141
@SidMorad This is a nice feature. Thanks for suggesting it. I will add this property to the next version. Till then, I keep this issue open

[2020-04-24 07:11] s-mahdi opened #142 "Adding name property"
Hello pals.
I'm using the **react-hook-form** for my forms and also `<DatePicker />` as an input.

There is no problem with submitting. but for passing the value of `input`, I have to set up a state and pass it **or** use `setValue` of **react-hook-form** which both are kind of pain! if there is a `name` property for `input` of `<DatePicker />` there is no more need to struggle with `states` and `

[2020-04-24 09:44] Kiarash-Z commented on #142
Hi, this is the coolest issue language I've ever seen. I will add this prop in the next version 😊

[2020-04-24 09:57] Kiarash-Z commented on #130
Closed due to inactivity. This is fixed in the latest version by the way 🎉

[2020-04-24 09:57] #130 closed

[2020-04-24 13:03] Kiarash-Z commented on #142
@s-mahdi There you go. The new `inputName` prop is available in this new version(3.1.0). Install the latest version and enjoy 😊

[2020-04-24 13:03] #142 closed

[2020-04-24 13:06] Kiarash-Z commented on #141
@SidMorad This prop is now implemented 🎉You can use `calendarPopperPosition` in the latest version(3.1.0). It can take one of these values, `'auto'`(default), `'top'`, and `'bottom'`. For your case, you can simply pass `'bottom'` as a value to it 😊

[2020-04-24 13:06] #141 closed

[2020-04-24 13:08] Kiarash-Z commented on #120
@spostad7 There's a minimal animation added when the calendar is opening in the latest version 3.1.0 🎉

[2020-04-24 13:08] #120 closed

[2020-04-24 13:10] Kiarash-Z commented on #123
@spostad7 This custom `useDatePicker` hook would add a great deal of complexity and size to the package. Therefore, I decided to leave it for now. I would recommend using `input.blur()` to close the date picker after day selection. Sorry if it took long to discuss this 🙏🏻

[2020-04-26 08:19] #123 closed

[2020-04-26 09:01] thebrodmann opened #147 "Ranged Date Picker Doesn't Work With undefined Values in TypeScript"
**Describe the bug**
As revealed by #146. Ranged date picker brakes in runtime during selection of from date when the value is `{ from: undefined, to: undefined }`.

**Reproduced Version on CodeSandbox**
Here it is on [CodeSandBox](https://codesandbox.io/s/react-modern-calendar-datepicker146-m5srq?file=/src/index.js)

**Expected behavior**
It should work like a charm as always did. 💪🏻

[2020-04-26 11:31] Kiarash-Z commented on #147
Thanks for the bug report. This will be fixed in the next minor release.

[2020-04-27 09:21] Kiarash-Z commented on #147
Oh, @thebrodmann. I noticed the version in CodeSandBox is 1.1.0 😂. It actually works with newer versions. I remembered fixing this issue 😁

[2020-04-27 09:24] Kiarash-Z commented on #147
I must say this is just an issue in TypeScript

[2020-04-27 09:32] Kiarash-Z commented on #147
undefined value for JavaScript was working fine. Added the support for TypeScript in 3.1.3😊

[2020-04-27 09:32] #147 closed

[2020-04-27 10:02] Kiarash-Z commented on #133
Closed due to inactivity

[2020-04-27 10:02] #133 closed

[2020-04-27 10:03] Kiarash-Z commented on #135
Closed due to inactivity.

[2020-04-27 10:03] #135 closed

[2020-04-27 15:47] thebrodmann commented on #147
OMG! sorry for wasting your time on this! I forked it from an old sandbox!

[2020-04-29 12:46] AwrminKhodaei opened #149 "useLayoutEffectfires shows warning while using SSR"
useLayoutEffect does nothing on the server is thrown when I use DatePicker with nextjs.
I also know how to fix the problem. are you open to contributions?

[2020-04-29 17:31] hieu-t-code opened #150 "[DayRangePicker] onChange function call is not calld directly after selected dates"
Hey guys,

so I have the following issue. I included a day range picker to my project. I want to do some stuff with all selected day between the selected day range. The thing is that the array is not filled with the days, unless I selected a day range and then reselecting one day.

1. Selecting a day range => array with selected days is still empty
2. Reseleicting one day => the array is filled wi

[2020-04-29 17:50] Kiarash-Z commented on #149
@AwrminKhodaei We're open to PRs of course 😊

[2020-04-29 17:56] Kiarash-Z commented on #150
Hi @hieu-t-code. This should actually work. Can you reproduce this on [CodeSandBox](https://codesandbox.io/) please?

[2020-04-29 18:11] thebrodmann commented on #150
So, I think this is not related to the library.
You need another state to track the history of the changes. Just bring another `useState` hook which accumulate changes.

As a simple example:
[code]

[2020-04-29 18:55] hieu-t-code commented on #150
Yeah its not an issue related to the library. Thanks for the suggestion :D

[2020-04-29 18:59] Kiarash-Z commented on #150
@hieu-t-code Has your issue been resolved? If not, just feel free to reproduce it on CodeSandBox, and we will do our best to help you. Even if it's not related to the library 😊

[2020-04-29 19:40] hieu-t-code commented on #150
I'm gonna work tomoorow on this issue again. Thank you guys for you support.

[2020-04-30 09:24] hieu-t-code commented on #150
@Kiarash-Z, I tried it now for several hours. I recreated the case, I'm not able to find a solution....

Steps to recreate the problem:
1. Selecting a day range e.g. lets say 27.04.2020 - 30.04.2020 console logs two empty arrays,

2. after reselecting one day the console.logs: [2020-04-27, ... , 2020-04-30].

I need to fill the array after I picked the second date. Thanks in advance for you help!

[2020-04-30 10:26] Kiarash-Z commented on #150
@hieu-t-code There's a problem with this approach. Currently, you try to access `selectedDates` in `handleDaySelection`(handler for `onChange`), but the thing is setting state in react is async. Therefore immediately after updating the state in `handleDaySelection`, you can't access the latest updated value! There are three solutions for this which I presented in my [forked CodeSandBox.](https://c

[2020-04-30 10:37] hieu-t-code commented on #150
I had in mind that it could be async, and couldn't use the first solution as the const is needed somewhere else in my code!

The other two solutions are exactly what I needed. Thanks a lot for your time!

[2020-04-30 10:37] #150 closed

[2020-04-30 10:39] Kiarash-Z commented on #150
@hieu-t-code You're welcome. I'm so happy that your issue has been resolved 😊

[2020-05-06 18:40] s-mahdi opened #155 "Next/previous N day/month/year function"
Hola!
I was working on `minimumDate` and set it up to `utils("fa").getToday` and everything was OK. unfortunately, the big BUG boss said: hmmm set `minimumDate` to tomorrow or n days/months/years after/before.
There is no such function in `utils` for this porpus. so I think some functions like so will bring heaven to us.
[code]
**Thanks in advance** :)

[2020-05-06 19:01] s-mahdi commented on #155
Here is a function I created to get Tomorrow.
[code]

[2020-05-06 19:50] Kiarash-Z commented on #155
@s-mahdi Actually it's quite easy:

1- Get today using `utils('fa').getToday()`
2- Convert the above date to gregorian native date
3- Get the next day of the gregorian date
4- Convert the gregorian date to Jalaali date

Here's a sample:

[code]

I'm not planning to export such functions for utilities. Because there will be more locales in the future(not limited to `'fa'` and `'en'`), and it's not

[2020-05-06 19:57] s-mahdi commented on #155
Thanks, mate. going to close the issue.

[2020-05-06 19:57] #155 closed

[2020-05-11 10:17] Kiarash-Z commented on #140
Closed due to inactivity

[2020-05-11 10:17] #140 closed

[2020-05-29 14:09] namipsg opened #158 "Wrong calendar position on open when min/max date is applied"
Hi ,
there is a default positioning bug in the DatePicker , if you set minimum date to a date that isn't in present month for example 01/09/2020 , when you open the date picker it is still positioned in the present month and all of the days are disabled

thanks

[2020-05-29 21:15] alessandrojcm commented on #136
Hi there! I really need to change the arrow as well, has been any development on this? Or maybe there's a workaround in the meantime? :thinking: Like @richardbruskowski said, one can get by overriding classes, but I had no luck with the arrows :confused:

[2020-05-30 11:08] Kiarash-Z commented on #158
Hi, thanks for the bug report. I will consider fixing this in the next version

[2020-05-30 11:14] Kiarash-Z commented on #136
Hi @alessandrojcm, I need more feedbacks to make a decision about the full customizability API 🤔 Arrows are placed into the calendar using `background-image`. Therefore, for now, you can override the default arrows by overriding the `background-image` for `.Calendar__monthArrow` CSS class:

![image](https://user-images.githubusercontent.com/20098648/83326821-2e0dd100-a28c-11ea-9184-a7c6fafb6c2c.pn

[2020-05-30 16:12] spostad7 commented on #149
@AwrminKhodaei
did you solve the issue for useLayoutEffect problem?

[2020-05-30 17:49] alessandrojcm commented on #136
Hi @Kiarash-Z, yes that was I was trying to do; but in our project we're using font awesome for the icons. Those are font icons, so I'm not sure how could I override the calendar's arrow with those. I've tried by setting the `content` property in the `::after` pseudo class and applying the font awesome classes with `@extend`, but no luck :confused:

[2020-05-31 06:25] Kiarash-Z commented on #149
@spostad7 My recommendation, for now, is to import this module as a "client" side module because, in order to position the calendar properly, I need to get client boundaries(like window width & height). [Next js provides such client-side imports if you pass `ssr: false`.](https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr)

[2020-05-31 06:31] Kiarash-Z commented on #136
@alessandrojcm Yeah, I think this type of config might be good:

[code]

Or I might just define a separate prop for rendering arrows 🤔

[2020-05-31 09:50] spostad7 commented on #149
Thanks @Kiarash-Z,
I think it could be control with check if type of window undefined....
I am using after.js and can't import like that

[2020-05-31 19:45] alessandrojcm commented on #136
@Kiarash-Z Yeah I agree, arrows should be a different prop. With the render props approach, I mentioned could look like this:

[code]

Pros are that the user has full control of what to render, cons are that you couldn't get to fancy with the animations, you could pass the animations via the styles, but it would be up to the user to have the animations play nicely with their components. Also, ther

[2020-06-01 09:52] Kiarash-Z commented on #136
@alessandrojcm This is a good approach but for rendering arrows. For the styles, I guess it's the developer's duty to provide appropriate styles when customizing arrows. For rendering arrows, I think it's kind of verbose to expose two props; one for each arrow. Therefore, I would rather pass an `isLeft: boolean` to `renderArrows` prop. It could look like this:

[code]

I would be glad to hear your

[2020-06-01 15:26] alessandrojcm commented on #136
@Kiarash-Z Well they would work but, for me at least, passing a component to render both the arrows is kinda extrange. How will the calendar render the month/year selector internally?

As for the styles, yes you're right that the dev should be responsible for the styling. But passing at least the colors would be nice for the sake of consistency.

[2020-06-02 09:33] Kiarash-Z commented on #136
@alessandrojcm It's quite easy internally:
[code]

As for the colors, I think because of their default color(black), it wouldn't be needed to expose them to `renderArrows` function.

[2020-06-02 13:54] alessandrojcm commented on #136
@Kiarash-Z oh, I see. Well, regarding the colors, I meant if the user passes a theme (in which the arrow color could change) I think it would be nice to pass that down to the arrows, just to be consistent 🤔

[2020-06-03 08:39] ahmadmrj commented on #115
Hey Kiarash,

Is it any config key to set align?

[2020-06-04 13:35] Kiarash-Z commented on #115
@ahmadmrj Yes, you can change align manually by [`calendarPopperPosition ` prop.](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/props-list)

[2020-06-08 07:47] AshleySetter opened #159 "How do I get the calendar to pop up over a material-ui menu bar?"
I have a DatePicker component close to the menu bar and when I open it up the left side lies under the menu bar and I've had trouble fixing it, I've tried changing the z-index on the DatePicker component as well as passing in a z-index in a CSS style to calendarClassName and wrapperClassName but it hasn't worked. How can I get the calendar to sit over the menu bar?

https://codesandbox.io/s/app-dr

[2020-06-08 09:39] Hainesy opened #160 "Is it correct that you are bunding React in your index.js?"
Your bundled lib/index.js contains React v16.13.0

Is this intended?

[2020-06-08 16:13] Kiarash-Z commented on #160
Hi, Bundle doesn't contain React v16.13.0. If it did, it would add up to the size of the library in Bundleophobia. BTW, I just installed the library and checked node_modules, and React wasn't in the final bundle. React has been mentioned as a `peerDependency` in `package.json`, so it wouldn't be present in the bundle.

[2020-06-08 16:26] Kiarash-Z commented on #159
Hi, Thanks for providing a demo. I inspected the material UI drawer and I found that it's using a `1200 z-index`😂:

![image](https://user-images.githubusercontent.com/20098648/84055561-3ff91d80-a9ca-11ea-8625-9934c99b8fd6.png)

Therefore, If you give a higher `z-index` than 1200 to the calendar wrapper using `calendarWrapper` prop, it would work! 🎉 [Here's the demo on CodeSandbox for you!😊](https:

[2020-06-10 06:14] Nath-Santiago opened #161 "Default date bug."
**Describe the bug**
I have a max (June 9, 2020) and min(March 10, 2020) date. Whenever I set a default date (June 6 2020 for example) i cannot click the June 9(max date)

if i did not set any default i can click the max date.

[2020-06-10 06:45] #161 closed

[2020-06-10 06:45] Nath-Santiago commented on #161
Oh, it's my fault sorry

[2020-06-10 07:24] AshleySetter commented on #159
Brilliant, that works great, thanks! For anyone finding this issue in the future and having problems making it work, don't forget that a child component cannot have a higher z-index than it's parent component, see point 4 [here](https://coder-coder.com/z-index-isnt-working/).

[2020-06-10 07:24] #159 closed

[2020-06-11 20:29] AshleySetter opened #162 "How can I adjust the width of the date picker?"
How can I adjust the width of the datepicker? So if I have a basic datepicker like in[ this sandbox ](https://codesandbox.io/s/app-drawer-menu-with-datepicker-4wlxc). How can I adjust the width so it's not got lots of whitespace around the actual date? It's almost twice as wide as it needs to be.

[2020-06-12 10:21] Kiarash-Z commented on #162
Hi, you can scale down the whole calendar [by specifying a font-size for the calendar](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/responsive-guide) using `calendarClassName` prop:

[code]

[2020-06-12 11:40] AshleySetter commented on #162
Ah, ok, is there not a way to scale down the datepicker independent of the font size? For example if I wanted the edges of the datepicker box to be close to the edges of the date text?

[2020-06-12 11:46] AshleySetter commented on #162
I was thinking of reducing the width like the box on the right here:

![Screenshot from 2020-06-12 12 40 54](https://user-images.githubusercontent.com/14869658/84499493-9dcb8500-acaa-11ea-992c-fbd6cdd3eb22.png)

[2020-06-19 15:30] JeanDevonne commented on #158
Hello, I managed to position the calendar by setting a default state for the minimum date.

[2020-06-20 14:38] Kiarash-Z commented on #158
@JeanDevonne That's a good workaround till I publish the fix. Thank you!

[2020-06-28 12:27] MohsenEs opened #164 "use classs component"
چطور میتونم توی کامپوننت کلاسی استفاده کنم
و اینکه توی الاید بار که باز میکنم نصفه باز میشه
و بازم اینکه با چه دستوری میتونم input مثل قالب بشه
ممنون
![2020-06-28_16-57-11](https://user-images.githubusercontent.com/46873097/85947522-7fc77b00-b960-11ea-954e-21d5e963f096.jpg)

[2020-06-28 18:07] thebrodmann commented on #164
Duplicate of #20 and #38.

[2020-06-29 03:48] MohsenEs commented on #164
react modern calender or persian calender ??
how to install persian calender

[2020-06-29 05:55] thebrodmann commented on #164
Ah, Persian calendar was the formal name of this calendar.

[2020-06-29 15:13] Kiarash-Z commented on #164
@MohsenEs Change the `z-index` of the calendar using `containerClassName` prop to fix the calendar getting cropped issue

[2020-06-30 15:02] rusakovic opened #165 "Remove styling for `(.Calendar__footer) button`"
Hello
Thank you for your library.
Could you, please, remove styling for footer to implement own component?

`.Calendar *:not(.Calendar__footer) button {
  font-family: inherit;
  background: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}`

[2020-07-01 09:47] Hainesy commented on #160
So `lib/index.js` appears to contain React and is 43Kb. I don't quite understand your response. Am I misunderstanding something?
This is causing us problems using your library in our own component library as we end up with 2 copies of React.

[2020-07-01 19:49] Kiarash-Z commented on #160
You're right. I found that it's actually because of `prop-types` package that I've included

[2020-07-01 20:14] Kiarash-Z commented on #160
I fixed this issue. Can you check the latest version (3.1.4) please?

[2020-07-01 20:19] Kiarash-Z commented on #165
Hi, I'm not sure If I understand you question properly, but this style **does not include footer button**. I've used CSS [:not ](https://developer.mozilla.org/en-US/docs/Web/CSS/:not#:~:text=The%20%3Anot()%20CSS%20pseudo,as%20the%20negation%20pseudo%2Dclass) selector to exclude the calendar general styles for the footer.

[2020-07-02 06:46] elibh159 opened #167 "change Default Values not work"
Hi ,
How can I change Default Value after First load page ?
for example when my component load , my default Value is null and it's true, but after fetch data I need set Date by new value and I set default value by new data but my calendar doesn't change ?!
this is my code:
 const [defaultValuePerCal, setDefaultValuePerCal] = useState(null)
   <PersianCalender  defaultValue={defaultValuePerCal} />

[2020-07-02 08:56] rusakovic commented on #165
Hello.
Please, check it

![image](https://user-images.githubusercontent.com/17801144/86338395-f911e700-bc5a-11ea-94d8-bc90877ccff3.png)
vs
![image](https://user-images.githubusercontent.com/17801144/86338424-0038f500-bc5b-11ea-8163-9b282013df67.png)

[2020-07-02 10:51] Kiarash-Z commented on #165
This is so weird! Can you provide a simple example on [CodeSandbox](https://codesandbox.io/), please?

[2020-07-02 11:02] Kiarash-Z commented on #167
Hi,

Your issue is actually a React one[. I made a demo for you on CodeSandbox which changes the default value after 5 seconds of component load(similar to doing an asynchronous task)](https://codesandbox.io/s/competent-tereshkova-5n0rf?file=/src/App.js). Here's how the code looks like:

[code]

[2020-07-02 12:41] rusakovic commented on #165
It's a private repository.
But, I used <Button /> .tsx component.
In your docs - used inline `div`s
Maybe it's an issue

[2020-07-02 19:49] Kiarash-Z commented on #165
I didn't ask for the entire repo. You can just reproduce the date picker part with different actions in CodeSandbox. I just tested the styles and they worked just fine. Maybe you're transforming CSS classes, therefore, styles can't find any `div` with `Calendar__footer` class. Anyway, I think the fix is quite easy. You just need to apply a CSS style with higher specificity using `!important`

[2020-07-03 05:57] rusakovic commented on #165
Hello.
Thank you.
But using `!important` is a bad practice.
Current structure is:
![image](https://user-images.githubusercontent.com/17801144/86436508-11413f00-bd0b-11ea-9bd6-86c2a366e7a6.png)

Why not to remove `.Calendar *:not(.Calendar__footer) button` ? Each developer could create their own component and style?

[2020-07-03 13:25] Kiarash-Z commented on #165
Exactly! that's the point of using the `:not` to **exclude** buttons inserted by developer in the calendar footer. But, I figured out why it's not applying in this case. It looks like it doesn't work with nested buttons. If your button is a direct child of the calendar footer, it would work. I'm working on a fix for this

[2020-07-03 13:28] rusakovic commented on #165
Great. Thank you!
Will be very helpful!

also, in your docs
`  // Return a { year: number, month: number, day: number } object
  getToday(gregorianTodayObject: any) {
    return gregorianTodayObject;
  },
`

Should be `gregorian` calendar.

[2020-07-03 14:21] Kiarash-Z commented on #165
This is now fixed in the latest version 3.1.6 🎉 For the documentation issue, can you open a dedicated issue and explain this further, please?

[2020-07-03 14:26] Kiarash-Z commented on #162
@AshleySetter Sorry for the latency in response. Do you want to reduce the space between the days and the calendar's left/right boundaries?

[2020-07-03 15:21] rusakovic commented on #165
Thank you!

[2020-07-03 15:50] #165 closed

[2020-07-05 12:44] #160 closed

[2020-07-05 19:03] AshleySetter commented on #162
No worries, yes, that was what I had in mind.

[2020-07-06 10:50] Kiarash-Z commented on #162
There are a few styles that you need to override. [I made a demo on CodeSandbox for that](https://codesandbox.io/s/small-bird-9csj6?file=/src/App.js). Here's how the code looks like there:

First off, we give the calendar a custom class:
[code]

Then we override the styles based on that:
[code]

I really apologize for the latency in response 🙏🏻 I hope this is helpful.

[2020-07-07 11:48] elibh159 commented on #167
Thank you so much, my problem solved by useEffect.

[2020-07-07 14:06] #167 closed

[2020-07-08 06:59] the-dr-lazy commented on #164
I think this issue has been resolved.

[2020-07-08 10:05] #164 closed

[2020-07-12 05:17] MohsenEs opened #169 "not correct in class compnent"
im ask issues #164
not correct #38
when select date state fill but input date not fill?

But with 'react-persian-calendar-date-picker' no problem only css bug

[2020-07-12 12:37] Kiarash-Z commented on #169
This is a little bit awkward. Can you please reproduce this on [CodeSandbox](https://codesandbox.io/)?

[2020-07-12 13:06] MohsenEs commented on #169
https://codesandbox.io/s/sad-williams-s49qr?file=/src/App.js

[2020-07-13 08:52] Kiarash-Z commented on #169
@MohsenEs There's no `selectedDay` prop anymore! If you replace the `selectedDay` with `value` prop, [it would work fine](https://codesandbox.io/s/wonderful-mahavira-137q4). I would highly recommend [reading the docs.](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/core-concepts)

[2020-07-13 15:22] #169 closed, assigned to nobody

[2020-07-13 16:09] MohsenEs commented on #169
Tanks

[2020-07-14 01:10] xndyz commented on #136
Any updates on the `renderArrows`? I think it would be a great addition to the API, along with `renderDay` and `renderHeader`.

[2020-07-14 15:37] MohsenEs opened #170 "get value"
hi tanks for date picker
When I want to receive and receive information in the form of an array, I converted it to a string that I can send to the server with the following code
, But when the day and month are below 10, it will not be sent to the server

`ExpirationCardDate:
        newValue.year + "-" + newValue.month  + "-" + newValue.day,`

![2020-07-14_20-04-25](https://user-images.githubuser

[2020-07-14 23:56] AImani opened #171 "Clear Value"
**We need this**
button (remove icon) for clear selected date

![clearDate](https://user-images.githubusercontent.com/11013596/87487565-3dd25080-c653-11ea-869d-8a41521a0c41.PNG)

[2020-07-15 08:29] Kiarash-Z commented on #171
Hi, It's quite easy to achieve that. You can render a custom input using `renderInput` prop and use a button in that, and by attaching an event listener to the button, you can clear the `state` containing the date picker value. Another way is to nest the `<DatePicker />` component in a `div` element with `position: relative;`, and have the button as `absolute` in the `div`.

[2020-07-15 08:32] Kiarash-Z commented on #170
Hi, It doesn't have anything to do with the date picker. Your value is correct. The date picker handles the stuff on the client-side and it has nothing to do with the server. You should probably insert a `0` before month and day value.

[2020-07-15 08:32] #170 closed, assigned to nobody

[2020-07-15 08:33] #162 closed

[2020-07-16 20:08] BugAgain opened #172 "Predefined Brazilian Portuguese locale"
Hi guys,

I'm always frustrated when I try to use this calendar with a project in Portuguese and I don't want to create a personalized locale all the time.

It would be nice if we had a predefined Brazilian Portuguese locale and I'd love to work on it.

I took the liberty of sending a PR for your analysis and appreciation.

Thank you in advance.

[2020-07-17 14:40] alijawadi opened #174 "Can't Use customDaysClassName"
I'm trying to use a class on specific days but it does not work.
I tried using both Gregorian and Jalali date but none work.

[Here](https://codesandbox.io/s/exciting-oskar-fb9vl?fontsize=14&hidenavigation=1&theme=dark) I have reproduced the issue.

What I expect is showing an icon on specific days.

[2020-07-18 11:55] SidMorad opened #175 "disabled prop"
**Is your feature request related to a problem? Please describe.**
I want to use `disabled` prop in a typescript project.

**Describe the solution you'd like**
One line code would be perfect `disabled={inprogress}`

**Describe alternatives you've considered**
Show/hide `DatePicker` with a boolean value. Please let me know if there is a better alternative?

**Additional context**
I think it would b

[2020-07-19 10:48] the-dr-lazy commented on #174
Your repro is working! `testclass` has been applied to both selected days.

![Screen Shot 2020-07-19 at 3 17 15 PM](https://user-images.githubusercontent.com/20781126/87873007-05c06a00-c9d3-11ea-9baf-248721145334.png)

[2020-07-20 09:22] alijawadi commented on #174
Yes it works I was mistaken.
In the sandbox style wasn't imported so the visual changes were not visible. it's updated now it works.
And I was using an older version in my project, thus; this API wasn't working.

[2020-07-20 09:31] the-dr-lazy commented on #174
Nice!

[2020-07-24 13:27] GuilhermeCunha opened #176 "Calendar opening to the wrong side"
**Describe the bug**

Calendar when clicking on DataPicker is opening to the wrong side

**Expected behavior**
Calendar open to where there is the largest area (bottom)

![image](https://user-images.githubusercontent.com/19752833/88395990-4683fe80-cd98-11ea-9ca1-9e05294166dd.png)

[2020-07-27 10:17] jahicDario opened #177 "First day of week"
Is there a way to change first day of the week to Monday instead of default Sunday?

[2020-07-28 09:58] shahabt24 opened #178 "problem with zIndex"
hello
thank you for this beautiful package
the problem is when i use more than one datepicker in a page, the calendar will goes under another datepicker input as attached image.
i will be thankful if give me a solution
![Screenshot (233)](https://user-images.githubusercontent.com/29194675/88651133-950a0380-d0de-11ea-8a11-9398c9690f68.png)

[2020-07-29 15:46] GuilhermeCunha opened #179 "Get selected month and year status"
First of all, thank you very much for the great library!

## My need
I need a way to get the value of the month and year selected in the calendar, because I want to bring from the API only the data for this month and year.

## My question
How can I keep the selected month and years in the calendar in the state?

[2020-07-31 02:23] BugAgain commented on #177
As far as I know you can only do that by creating a different locale.
So please take a look at the docs and feel free to ask something that you can possible be stuck with.

[code]

[Different Locales](https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/different-locales)

[2020-07-31 14:48] BugAgain commented on #179
Hello @GuilhermeCunha,

I don't know if I understand your question very well, but lets give it a try.
If you want to format your input to show only the month and year you can use the `formatInputText` prop.

[code]
Then this is the `formarInputValue` method definition:

[code]
And you can see it in action here:
https://codesandbox.io/s/wonderful-northcutt-ic7c5?file=/src/App.tsx

I hope this can g

[2020-07-31 15:34] GuilhermeCunha commented on #179
Thank you for your help! But the problem I'm trying to solve is another.
I created a fork of the repository and I will submit a PR with the changes I need.

In short, I need to receive somehow in which month and year the calendar is selected.

[2020-08-04 14:05] Gustavoohrq opened #182 "select month range"
It has to have a range per month? It comes as a default per day

[2020-08-05 06:33] shahabt24 commented on #178
any idea or solution??

[2020-08-07 13:06] wdobry opened #183 "How to jump to currently selected date in calendar view?"
Hello, I would like to ask if there is any event / prop that would allow me to jump to currently selected date in the calendar view. I've created double-calendar view using 2 calendar component and they work perfectly with one single issue.

![image](https://user-images.githubusercontent.com/10637790/89648454-cf02b300-d8f1-11ea-9b61-18d6ab4ffdc7.png)

Here is my code for double-view calendar - it

[2020-08-14 08:19] mhtamun opened #184 "I want the calendar container show only in the bottom?"
I am facing a issue here react-select, container goes behind my date-picker. if i customize the z-index then date-picker calender container goes behind react-select. As for now I need a way that I can only show the date picker in the bottom. is there any way to do that?

Problem: ![Untitled](https://user-images.githubusercontent.com/10486444/90229375-9dca3b80-de39-11ea-9bb2-e5d5178d91ef.png)

[2020-08-18 15:58] ntanwir opened #185 "how to reposition the tooltip for <DatePicker /> component"
Cool Library !!

So, I am using the `<DatePicker />` component for `Selecting a Day Range` feature.
`<DatePicker
                        value={this.state.selectedDayRange}
                        onChange={this.handleSelectedDatePickerChange}
                        shouldHighlightWeekends
                      />`

I have noticed that the tooltip is always positioned `top`. Is it possible to cha

[2020-08-19 11:38] ntanwir opened #186 "maximumDate is not working"
I want to restrict the user to select only a date range of 7 days and blur out or disable the rest.

I am using the `<DatePicker />` component for **Selecting a Day Range feature.**

Following the doc,
I have created an object inside my render
`const maximumDate = {
      day: 7,
    };`

and then I am passing it inside maximumDate prop in `<DatePicker />` component.

`<DatePicker
    calendarClas

[2020-08-19 14:55] ntanwir opened #187 "Is it possible to set a timeFormat eg: timeFormat": "ISO-8601"?"
Hi,

Is it possible to set a time format for the entered date eg: timeFormat": "ISO-8601"?

Couldn't anything related to it in the docs, so just asking here. Thanks.

[2020-08-20 15:11] ntanwir commented on #187
nevermind. got it done using moment.js. thanks !!

[2020-08-20 15:11] #187 closed, assigned to nobody

[2020-08-23 13:28] zahraHaghi opened #188 "Get week of selected date"
How can I get days of week that contains selected day?

[2020-08-24 13:41] pedram6195 opened #189 "change only weekday names for "fa" locale"
I just want to change weekdays' short names for "fa" locale to this:
`"شنبه", "یکشنبه", "دوشنبه", ...`

do I have to rewrite the whole "fa" locale object from scratch? is there any other way to do this?

[2020-08-25 14:09] mehrdadashtari opened #190 "idea"
سلام پیشنهادی دارم برای افزودن قابلیت رویداد ها به برنامه ای که توسعه دادید

الان که همه ی سیستم ها به اینترنت متصل هستند پیشنهاد میکنم ارتباط با ای پی آي های تقویم رو هم در این برنامه ی خوب پیاده سازی کنید
خودم از این سرویس زیاد استفاده میکنم و فکر میکنم جاش در برنامه ی شما خالیه
https://apieco.ir/api/farsicalendar

اطلاعات خوبی ارائه میده مثل وقایع و رویداد های هر روز و دریافت رویداد در حالت شمس

[2020-08-26 05:32] pedram6195 opened #191 "toggling between locales not working correctly"
I created a toggle button for changing locale between "en" and "fa" on click.
everything seems to work fine but: when I'm on "en" calendar and swipe to next or previous month, then I click on the button to change the locale to "fa" the header of the calendar shows year in Georgian again!! something like this:
`شهریور 2020`

my code:
[code]

[2020-08-26 06:56] pedram6195 commented on #191
I could fix it by creating separate component for each locale and render them on condition:
[code]

[2020-08-26 06:56] #191 closed, assigned to nobody

[2020-08-27 07:11] shahabt24 commented on #190
سلام دوست عزیز
دلتون رو خوش نکنین به پشتیبانی و منتظر پاسخگویی توسعه دهنده های این پکیج نباشید
توسعه دهنده های این پکیج حاضر نیستن باگ های پکیجشون رو درست کنن چه برسه به افزودن قابلیت جدید

[2020-08-27 07:28] Kiarash-Z commented on #190
@shahabt24
اول اینکه عذر خواهی میکنم اگه مشکلی هست و نمیتونم فیکس کنم ولی
 تعجب میکنم از مردمی که بدون علم، قضاوت میکنن. عزیز اولا اینکه اگر کمی تحقیق کنید و پروفایل گیتهاب بنده رو چک کنی، استتوس رو زدم که دیگه برنامه نویسی نمیکنم و گذاشتم کنار به طور کامل. ثانیا ایشو های قبلی که همگی رسیدگی شده رو کاش یک نگاه میکردی که به همشون قبل از اون تاریخ که همه چیو بذارم کنار، رسیدگی شده کاملا. ثالثا من مج

[2020-08-27 10:08] damienSavoldelli commented on #186
When I see the doc (https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/minimum-maximum-date) ; maximumDate is an object which need year, month & day in attributs.

Have you tested to set all these attributes in your object, not just the "day" ?
like this example :
[code]

[2020-08-27 10:12] ntanwir commented on #186
@damienSavoldelli In my case, this can be dynamic. Not necessarily a particular date. The date ranges would be coming from the API and depending on that I would like to disable rest of the dates

[2020-08-28 08:04] shahabt24 commented on #190
@Kiarash-Z
اول اینکه عذرخواهی میکنم اگر ناراحتی پیش اومده
دوم اینکه ناراحت شدم شما برنامه نویسی رو گذاشتین کنار
حیف
از این پکیجتون مشخص بود که قابلیت های زیادی دارید
موفق باشید
راستی ما غیرت داریم ولی متاسفانه وقت کافی نداریم

[2020-09-03 10:26] kuoruan commented on #149
Same issue here, the terminal shows:

[code]

[2020-09-09 08:13] MohsenEs opened #193 "out of screen"
why out of screen
![2020-09-09_12-41-46](https://user-images.githubusercontent.com/46873097/92572721-0a4e2400-f29a-11ea-9042-b92df72f96ec.jpg)

[2020-09-09 08:24] MohsenEs commented on #190
دمت گرم تا همیجا هم خیلی زحمت کشیدی دوستا هرکس میتونه کمک بده مشکلاتش حل بشه

[2020-09-12 16:55] dexterthemsb opened #194 "Pop Overs"
If a date has some data for eg. some event we can pass a custom class name and highlight right now, but what if we want to display some popover displaying the details of the event. We can add a popover or tooltip props to the dates with some data to display the data. This prop property will be a node so we can display the popover the way we want.

[Reference](https://vcalendar.io/attributes.html#p

[2020-09-19 06:14] EleRam opened #196 "renderInput throws an error: R.current.blur is not a function"
I get a TypeError (error: R.current.blur is not a function) when I use ``renderInput`` and [``Input`` component of `RSuite` ](https://rsuitejs.com/components/input/).

I haven't any problem with a native input tag.
I guess that may be related to the input `ref`.

[2020-09-19 06:29] EleRam commented on #196
the problem was with the rsuite input.
I used the wrong ``ref`` prop.

[2020-09-19 06:29] #196 closed, assigned to nobody

[2020-09-19 07:29] EleRam commented on #53
I think it's better to set default z-index of ``.DatePicker__calendarContainer`` instead of wrapper.
default z-index of wrapper makes same problem on different situations

"از:" field is my custom `renderInput`
![Screenshot from 2020-09-19 11-52-21](https://user-images.githubusercontent.com/3352418/93661667-c663d780-fa6e-11ea-962e-ff246f3cd244.png)

and I fixed with this css:

[code]

![Screenshot

[2020-09-28 17:26] arianshahalami opened #197 "Is there anyway to call onchange method, when a user selects a year or month?"
As far as I know onChange method gets called only when a user selects the day. I found when a user selects year he/she expects app to save the year and month he selected if she/he close the calendar.

[2020-09-29 11:46] KohanTorabi opened #198 "DatePicker doesn't blur properly"
**Describe the bug**
I use antd input as custom input; When I click outside the date picker, it isn't closed. So it seems the blur function doesn't work well
[code]

**Expected behavior**
When I click outside the date picker, The date picker should be closed

[2020-09-29 15:16] leodevbro opened #199 "Is there a way to go to a specific date?"
let's say I click on some button on my website and the `<DatePicker />` (or `<Calendar />`) goes on 2007-12-15 and picks that date, is this possible?

[2020-10-05 22:07] alireza9382 commented on #178
I also have this problem.Did you solve it?

[2020-10-06 05:05] shahabt24 commented on #178
not completely
I added some classes to wrapperClassName and inputClassName

[2020-10-16 07:32] thomasmikava commented on #199
Currently it is not possible

[2020-10-16 08:02] leodevbro commented on #199
I guess one good workaround is to just re-render the datepicker on specific date, but I don't think it will work when we want to pick range of days.

[2020-10-21 06:32] dhanukaperera opened #200 "[BUG] Date-picker inputs overlaps with the inputs below"
**Describe the bug**
The Date picker input cover up the calendar when the calendar opt the below.
<img width="528" alt="Screenshot 2020-10-21 at 11 55 41" src="https://user-images.githubusercontent.com/13520855/96681124-5a89cd00-1394-11eb-9502-72f25d569c86.png">

There is no issue if the calendar open top
<img width="391" alt="Screenshot 2020-10-21 at 11 57 33" src="https://user-images.githubuserc

[2020-10-21 15:04] Aryan-mor opened #201 "Default month selected when minimumDate after this month"
**Describe the bug**
example
Today is 2020-08-07
minimumDate : 2020-09-07

Default showing month 8 instead 9

[2020-10-21 15:09] leodevbro commented on #199
My foolish mistake, it can go to a specific date with just setValue function of the useState, it just needs to be a new reference of object {year: 2020, month: 10, day: 28} in order to force rerender.
I changed the day, but forgot that the object reference stays the same, so it was not re-rendering.

[2020-10-21 16:09] thomasmikava commented on #199
I thought you only needed going to specific date without selecting it.

[2020-10-21 16:17] leodevbro commented on #199
yeah, I wanted to go to specific date programmatically (without mouse/keyboard interaction), for example 3 seconds after mounting.

[2020-10-21 18:42] thomasmikava opened #202 "Add support of callbacks of changing month"
Please, add support of callbacks that will be fired after changing current month view.

Additionally, it will be good if there will be way of manipulating display month/year.

[2020-10-30 22:51] everas7 commented on #201
Hi I would like to contribute to his library. Is this really a bug? Or should we add a feature like this:

A boolean prop called something like "setDefaultMonthInRange". If true, when a minimum date after today and/or a maximum date before today is set, then when opened, the Calendar will by default display the month of the minimum date. If false the calendar will display the current month by defa

[2020-11-03 12:56] felixkoch opened #204 "Ref calendarElement is null causes "Cannot read property 'removeEventListener' of null""
First: Thank you for this awesome Calendar Datepicker!

After updating to React 17 and next.js 10, removing the Calendar Component from DOM causes error "Cannot read property 'removeEventListener' of null" inside the Cleanup function of  the useEffect hook in cases when the Ref to the calendarElement is not initialized properly.

[2020-11-13 07:26] sshahzaiib opened #206 "Disable a day or a set of days for whole calendar"
Is there a way to disable a day or multiple days for the whole calendar?
I'm working on showing slots for specific day and there are some days that are not available for booking
So I was wondering if we can disable a day like Monday for whole calendar.

[2020-11-17 18:29] vitorrubim1 commented on #100
how do I get the useful month. I have a range of 30 days by default, and the calendar is always active last month, I want it to stay in the current month

ex:

//how are you doing

setDayRange ({
      from: {
        day,
        month,
        year,
      },
      to: {
        day: lastDay,
        month: lastMonth,
        year: lastYear,
      },
    });

<Calendar
        locale = {portugues

[2020-11-22 12:07] mskarimi commented on #204
me too
@Kiarash-Z
hi
There is an update for this bug on react 17?

[2020-11-24 14:17] seyyed-sina commented on #204
same issue here
@Kiarash-Z

[2020-11-29 08:53] barghi commented on #204
same issue here

[2020-12-01 09:15] ramirobg94 commented on #204
other here

[2020-12-01 13:49] lucaspokaz opened #207 "Can anyone tell me how do I trigger the month change event?"
Can anyone tell me how do I trigger the month change event? That is, the next and previous arrows ...
The reason for this is to load only the events of the month on display ...

[2020-12-06 13:42] darrylsepeda opened #208 "TypeError: Cannot read property 'removeEventListener' of null"
**Describe the bug**
A clear and concise description of what the bug is.
I used a drawer to insert new data, and the data consists of a date range.
Once I successfully saved the data, I need to close the drawer, but then the error shows up.
I think its related with the library, need to check whether the listener has been removed or not.
![image](https://user-images.githubusercontent.com/5493333/10

[2020-12-07 00:11] Wony56 commented on #208
same issue here on react ver.17

[2020-12-09 11:40] monire91 commented on #208
did you find any solution for this? Same problem here

[2020-12-09 12:36] vahidimani commented on #178
Just do this:
 .DatePicker{
            z-index: unset!important;
}

.DatePicker__calendarContainer{
              z-index: 10!important;
 }

[2020-12-09 13:02] elin-oh commented on #204
same issue

[2020-12-09 15:14] monire91 opened #209 "Problem using with next js"
Can I use this with next js? I tried but I get this error :100: Unhandled Runtime Error
TypeError: Cannot read property 'removeEventListener' of null

[2020-12-10 02:42] everythingspirals commented on #207
Seconded.

[2020-12-13 12:08] Adamkaram commented on #204
same

[2020-12-13 12:17] Adamkaram commented on #206
the Behaiver U want as Define the dates that can be selected. The function receives (currentDate, selectedDate) and should return a true or false whether the currentDate is valid or not

isValidDate?: (currentDate: any, selectedDate: any) => boolean;
u can add it to your Date calnder
and add to the calnder Cpmponent
 isValidDate={validDate}
this should return false for specfic day and true for the

[2020-12-14 08:33] sshahzaiib commented on #206
I'm using Calendar component and there a prop for `disabledDays` which accepts an array of individual dates to be disabled

https://github.com/Kiarash-Z/react-modern-calendar-datepicker/blob/0cd7478b2fda3f755f0128a2ba1244346ed9eba0/src/Calendar.js#L162

I can't find this `isValidDate` prop with this Calendar component.

[2020-12-14 08:41] Adamkaram commented on #206
i told u mate u can add logic like it in ur package it self wihout damage ur package

you can make a helper fuction to do it for u , any way i requested that featuer the day before i hope they add it

[2020-12-14 10:13] radandt commented on #201
A feature definitely. Should be a prop.

[2020-12-14 10:28] radandt commented on #201
Spotted a workaround (not a solution):

Set return-value of `getToday` in `locale` to Day-object, you want to show up initially.

[2020-12-16 02:45] AMINEDGE opened #211 "Customizing calendar layout"
Hi and thanks for making such great and useful component
I wanted to ask is there any quick way to change the month view layout a little bit to look like this picture?

<img width="534" alt="Screen Shot 1399-09-26 at 6 08 17 AM" src="https://user-images.githubusercontent.com/13257846/102298052-a9537d80-3f65-11eb-8e2c-ff1e05bf7d74.png">

as you see here we have current and next month at the same sl

[2020-12-17 09:04] WaqqarSuleman opened #212 "Required Time Input"
Hi,

Is it possible to have a time input using this library?

[2020-12-22 15:05] seyyed-sina commented on #204
any plan to fix the issue @Kiarash-Z??

[2020-12-22 15:28] emorling opened #213 "weekStartingIndex not working"
We want the week to start with Monday instead of Sunday.

We have weekdays set as in the documentation:

`weekDays: [
    {
      name: 'Sunday', // used for accessibility
      short: 'S', // displayed at the top of days' rows
      isWeekend: true, // is it a formal weekend or not?
    },
    {
      name: 'Monday',
      short: 'M',
    },
    {
      name: 'Tuesday',
      short: 'T',
    },

[2020-12-22 15:42] emorling commented on #213
OKAY. weekStartingIndex is not the index of the array. It is an Offset of the starting day in the calendar...

So in our case we ended up starting the weekDays array with Monday and having a weekStartingIndex of 6.

[2020-12-22 15:42] #213 closed, assigned to nobody

[2020-12-22 15:44] antonhedstrom commented on #177
This will show incorrect date for the month? I solved that by setting `weekStartingIndex: 6`

[2020-12-23 13:17] bragayuri commented on #208
I have the same issue when loading the page. Any solutions?

[2020-12-23 13:18] bragayuri commented on #204
same

[2020-12-23 17:06] sentisso commented on #212
I would also definitely use a time picker too. It would be great to have it

[2020-12-26 13:33] #198 closed, assigned to nobody

[2020-12-28 09:19] mohsen12999 opened #214 "Show more than one month"
Add feature for showing more than one month in the calendar. show two or three months side by side. I think it's better when we need to choose a range of days.

[2020-12-28 09:36] nimalatifi commented on #184
set props :
   calendarPopperPosition: 'bottom',

[2020-12-29 17:47] mildrenben opened #216 "Thank you devs"
Just dropping by to say a big thanks to @Kiarash-Z and the other devs who've worked on this, it's a brilliant package!

[2020-12-29 19:07] mildrenben commented on #206
This would be a great feature. Writing custom functionality for this doesn't make sense, and you'd have to calculate it from now until the end of time.

[2020-12-30 17:29] thegauravthakur commented on #204
same

[2020-12-30 22:52] lorenzocorallo commented on #178
You can load the library css before your stylesheet and do whitout `!important`
Thanks @vahidimani for the snippet

[2021-01-01 10:17] mohammadgolche opened #217 "please add swipeable calendar"
please add swipeable calendar.
I did that ,and it doesn't have good performance
![REC_20210101134215784](https://user-images.githubusercontent.com/40236016/103437042-ac25c200-4c37-11eb-9878-f597b5d3c55f.gif)

[2021-01-01 17:37] sentisso opened #218 "Disabled week days?"
Does this calendar support disabling days in a week?
For example monday, tuesday and those days in every week would not be selectable.

[2021-01-02 18:42] mohammadgolche opened #219 "Add swipeable calendar"
Add swipeable calendar

![](https://user-images.githubusercontent.com/40236016/103437042-ac25c200-4c37-11eb-9878-f597b5d3c55f.gif)

[2021-01-04 06:59] colin-reid opened #220 "Visible month does not track current value"
Within a visible month the selection moves when value={myValue} is updated. However the currently visible month does not seem to change when the new value is in a different month.

One suggestion might be to expose a track:(''start|'end'|'none') prop.

[2021-01-05 12:52] Hosein-mh commented on #204
same issue

[2021-01-06 03:17] me82852578 commented on #178
This is my solution, maybe not the best, but at least I have been running well in my project for a while .
[solution](https://stackoverflow.com/questions/64458075/react-modern-calendar-datepicker-overlaps-with-datepicker-inputs-below/65579662#65579662)

[2021-01-06 03:18] me82852578 commented on #16
This is my solution, maybe not the best, but at least I have been running well in my project for a while .
[solution](https://stackoverflow.com/questions/64458075/react-modern-calendar-datepicker-overlaps-with-datepicker-inputs-below/65579662#65579662)

[2021-01-06 16:07] monire91 opened #221 "Add Time picker?"
Is there any chance that you would add time picker to day any time soon?

[2021-01-10 18:22] mojabyte commented on #204
As the maintainers didn't respond, I published the fixed version to my npm [packages](https://www.npmjs.com/package/@hassanmojab/react-modern-calendar-datepicker).

You can download and install it using:
[code]
Then change all the imports to:
[code]

⚠️ This is a temporary package as a solution just for this issue and won't be developed.

[2021-01-10 18:27] mojabyte commented on #208
Duplicate of #204

[2021-01-10 18:27] mojabyte commented on #209
Duplicate of #204

[2021-01-11 03:54] thegauravthakur commented on #204
@HassanMojab works great!! Thanks

[2021-01-13 13:31] Hosein-mh commented on #204
@HassanMojab it works but got warning:
index.js:1446 Warning: unstable_flushDiscreteUpdates: Cannot flush updates when React is already rendering
while sliding

[2021-01-13 15:10] yapma opened #223 "Get the start and end date of the month displayed on the calendar"
Hello, how can I get the start and end date of the month displayed on the calendar?
Or get the one date of the month displayed on the calendar (date inner the displayed range)?

Thanks.

[2021-01-14 10:24] joeleduardo commented on #178
I did something like this and works, the only details is you need to use **renderInput** prop...

[code]

[2021-01-14 10:25] joeleduardo commented on #200
Here a my solution: https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/178#issuecomment-760103955

[2021-01-15 18:21] sentisso commented on #218
I have created a pull request containg this feature.
#224

[2021-01-15 18:21] #218 closed, assigned to nobody

[2021-01-15 18:24] sentisso commented on #206
I have created a pull requests that contains a feature to **disable specific week days** and to **forcely enable specific calendar days**.

For example: disable every monday and friday and then enable a specific date (like monday, even though mondays are disabled via that `disabledWeekDays` feature.

#224

[2021-01-23 07:30] mohammadgarmroodi opened #226 "The pop-up opens out of the window"
If the component is used at the window sills, the pop-up will opens out of the window

it was fixed in V1.1.3....but it works wrong in new version

[2021-01-23 08:24] Hosein-mh opened #227 "please add selectorStartingMonth and selectorEndingMonth props"
The minimum/maximum selectable Month when user opens the month selector

I have disabled some date after my maximum date but the calendar starts from today month
![image](https://user-images.githubusercontent.com/52212847/105573446-e2f08300-5d72-11eb-96d5-ae1e5aa19f01.png)

[2021-01-23 10:48] tuga2112 opened #228 "Disabled Days CSS overrides customDaysClassName settings for color, background color and cursor."
**Describe the bug**
when setting

[code]

the CSS styling for the dates selected in 'disabledDays'  is
[code]
the !important tags override the customised settings layed out by 'customDaysClassName'

My usecase is that I need to tell my users "why" certain days are disabled (shop closed tuesdays, fully booked on specific date etx) this is done defining a key at the footer of the calendar and setti

[2021-01-24 13:51] Mehdi-Momenpoor commented on #204
داداش نمیخوای جواب بدی؟ مردیم بابا

با تشکر از تفویم خوبت
مرسی اه

[2021-01-24 14:02] Mehdi-Momenpoor commented on #204
@HassanMojab

Thank you bro
it worked for me without any warning.

well done!

[2021-01-25 07:27] phymilad opened #229 "There is a problem when I want to choose date on persian calendar, but send gregorian date to the server. I want to know if there is a solution for this issue with your calendar."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-25 07:29] phymilad opened #230 "There is a problem when I want to choose date on persian calendar, but send gregorian date to the server. I want to know if there is a solution for this issue with your calendar."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-01 07:48] wdobry commented on #220
@colin-reid hey did you find any workaround for this? I got the same issue.

[2021-02-03 04:35] colin-reid commented on #220
Not really, I have an ugly hack of reloading the whole calendar but it doesn't work well enough to share.

[2021-02-05 17:48] roma2k commented on #207
I'm interested in this too

[2021-02-09 19:31] daniele-orlando opened #232 "[bug] React 17 support"
This lines breaks on **React 17**.

https://github.com/Kiarash-Z/react-modern-calendar-datepicker/blob/0cd7478b2fda3f755f0128a2ba1244346ed9eba0/src/Calendar.js#L47

React 17 changes the way references are handled for unmounted components. They are cleared right after the component is unmounted, but the effect unmount function is called later on. This means that references values must be stored in

[2021-02-11 16:32] FireIvan opened #233 "Set the calendar to the default month without setting a date"
Thanks for the library

created a component for selecting date ranges using the library

![image](https://user-images.githubusercontent.com/22833591/107666683-d4c1c280-6c9f-11eb-9157-d7e0bc8434a6.png)

But to function as comfortably as possible, the right calendar should initially (when opened) show the month of the end of the range, not the beginning

Please advise, is it possible to implement it

[2021-02-12 16:01] elyasmotazedy opened #234 "T.current is null"
**Describe the bug**
hi,
I'm using this in nextjs but why I get T.current is null and I use it like a document nothing extra added to it.

**My code**
              import 'react-modern-calendar-datepicker/lib/DatePicker.css';
              import DatePicker from 'react-modern-calendar-datepicker';
              const [selectedDay, setSelectedDay] = useState(null);

            <DatePicker

[2021-02-14 17:46] norama opened #235 "Support 2 value ranges"
**Is your feature request related to a problem? Please describe.**
We need to manage 2 date ranges, one main range and another date range for comparison.
Also, this is typical for travel booking services where user specifies preferred date ranges for travelling to the destination and returning back.

**Describe the solution you'd like**
Extend property list by
- `valueSecondary`
- `colorSecondary`

[2021-02-14 18:05] norama opened #236 "Support 2 months view"
**Is your feature request related to a problem? Please describe.**
We would like to display 2 consecutive months instead of a single month.
This would improve user experience in our case.

**Describe the solution you'd like**
Extend property list by
- `displayedMonths` of type number, supported values: 1, 2
or
- `twoMonthsDisplay` of type boolean

**Describe alternatives you've considered**
Tried

[2021-02-15 15:55] mandrato1 commented on #220
I had this same problem and found a workaround for it.
First by debugging I found out that the date values array of the calendar would always insert any new value to the end of it. Then, by trial and error, noticed that by de-selecting the FIRST selected value of the array (the first date ever picked), the calendar would change the visible month to the next value's month. So in short, the calendar

[2021-02-28 10:54] rogreyroom commented on #234
same issue here on react ver. 17.0.1

[2021-03-02 08:56] LevKozak opened #238 "Open the date picker programmatically."
Hello,

Is there any way how to open the date picker from JS? For instance, if I have an icon next to the input (or on top of it), how can I fire an action to open the date picker?
Because I don't see any exposed callbacks for such a thing.

Thank you in advance.

[2021-03-05 11:29] #238 closed, assigned to nobody

[2021-03-08 16:34] roboticflamingo commented on #236
+1

[2021-03-13 19:43] mahdi-jafaree opened #241 "add support for Afghanistan months"
I found your package really useful for my project and lots of thanks! I need to show our own months in shamsi like حمل جوزا سرطان and so on. Our month is the same as Persian moths except name. I provide you a list of months in case you wanted to apply new feature. first month is حمل and last one is حوت. months are ordered from right to left.
Thx.
حمل ثور جوزا سرطان اسد سنبله میزان عقرب قوس جدی دلو

[2021-03-15 12:06] mogaozq opened #244 "calendarClassName is not working on DatePicker!"
I've set `calendarClassName` prop of a DatePicker but that's not working.

[2021-03-15 12:12] #244 closed, assigned to nobody

[2021-03-24 09:00] josegoval commented on #234
Same issue here, with this code using react-hook-form:
[code]

ver: `"react": "^17.0.1"`

[2021-03-24 20:18] Ugikie opened #246 "Disable Auto Close when clicked on date?"
I have searched the docs everywhere for this and hopefully I didn't miss it and am wasting everyone's time with this issue, but I am wondering if there is a way to prevent the calendar from automatically closing once a date is selected. Here is my component so you can see what type of datepicker/calendar I am using...

[code]

Edit:
Looking through the code it looks like this can be done fairly ea

[2021-03-25 11:22] Hainesy commented on #232
Duplicate of https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/204

[2021-03-31 10:54] emreyalvac opened #247 "There is a problem when don't choose any date"
Problem occurs when moving to the next month without choosing a date.

`
React: 16.8.6
Node: 14.15.4
`

I got the code from the examples.

![image (1)](https://user-images.githubusercontent.com/25641149/113133691-9e78dc00-9228-11eb-8808-a79eed418e3a.png)

[2021-03-31 12:24] #247 closed, assigned to nobody

[2021-04-02 22:15] hazel-sudz opened #248 "Potential Fork?"
Looks like the project has gone stale and there have been no activity from the maintainer @Kiarash-Z for the last year.

Would anyone be interesting if moving over to another repo? I might be interested in maintaining a fork as I have a project depending on the date picker.

Thanks,
daniel-sudz

[2021-04-02 22:55] hiukky commented on #248
It is really out of activity and I also maintain a project that depends on this library. He even has plans to create a new TS project inspired by this one, but I haven't had the initiative yet.

[2021-04-02 23:05] hazel-sudz commented on #248
@hiukky this project already has a ```.d.ts``` declaration file but converting the project to a regular ```TS``` project would not be a bad idea.

I think it's more important to establish a new centralized repo so that the project does not die out first though. Everything else can come later.

[2021-04-11 07:25] setayeshk commented on #136
Hi Is there any possibility of changing the background color of the calendar right now?

[2021-04-13 17:02] seyyed-sina opened #249 "problem in view next/prev month in 'fa' locale"
Apparently there is a problem in adding correct ```.-shown``` class to active next/prev monthYear item after going to next or previous month in 'fa' locale. It stop working after click next/prev month. Currently use v3.1.6.

**Expected behavior**
It has to be add ```.-shown``` class to currently active month as expected like it does in demo website

[2021-04-16 06:32] setayeshk commented on #67
Hi when i give utils(true).getToday() for Persian calendar it gives me this error:

TypeError: a is not a function
s [as getToday]
C:/narm/Luna/Webfront/node_modules/react-modern-calendar-datepicker/lib/index.js:1

[2021-04-16 06:40] setayeshk commented on #67
I wrote "fa" instead of true and it fixed

[2021-04-19 17:58] naresh0101 commented on #208
Uncaught TypeError: Cannot read property 'removeEventListener' of null
this error is pointing [ react-modern-calendar-datepicker ]
![Screenshot from 2021-04-19 23-25-37](https://user-images.githubusercontent.com/39561340/115281704-e8d5e480-a166-11eb-8921-64b382b132e3.png)

please help me

[2021-04-19 18:08] naresh0101 commented on #208
This link was helpful for me
https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/204

[2021-04-22 01:35] maxdymko commented on #204
@HassanMojab
It works.
Thanks a lot.

[2021-04-25 15:42] gaberomualdo opened #252 "Component Crashes When Opening Year Select Box When The Current Year is Outside The Limit"
**Describe the bug**
The year selection area displays all of the years from 100 years past the current year to 50 years after the current year.

If the user selects the year to be the lower limit and the month to be January, then clicks the back button on the top left, the user is able to go past this limit.

When they are past the limit and select the year selection button on the top, the compone

[2021-04-28 01:11] nishant-k1 commented on #76
Thank you so much!!

[2021-04-30 18:07] farhadddvarjavand commented on #204
if get it in github u must change src/calender.js this part of code:
useEffect(() => {
    const handleKeyUp = ({ key }) => {
      /* istanbul ignore else */
      if (key === 'Tab') calendarElement.current.classList.remove('-noFocusOutline');
    };
    calendarElement.current.addEventListener('keyup', handleKeyUp, false);
    return () => {
      calendarElement.current.removeEventListener('key

[2021-04-30 18:09] farhadddvarjavand commented on #204
if get it in github u must change src/calender.js this part of code:
useEffect(() => {
const handleKeyUp = ({ key }) => {
/* istanbul ignore else /
if (key === 'Tab') calendarElement.current.classList.remove('-noFocusOutline');
};
calendarElement.current.addEventListener('keyup', handleKeyUp, false);
return () => {
calendarElement.current.removeEventListener('keyup', handleKeyUp, false);
};
});
to

[2021-04-30 18:11] farhadddvarjavand commented on #204
if get it in github and use it in your project u must change src/calender.js this part of code:
useEffect(() => {
const handleKeyUp = ({ key }) => {
/* istanbul ignore else /
if (key === 'Tab') calendarElement.current.classList.remove('-noFocusOutline');
};
calendarElement.current.addEventListener('keyup', handleKeyUp, false);
return () => {
calendarElement.current.removeEventListener('keyup', han

[2021-05-03 06:44] elyasmotazedy opened #253 "required attribute"
hi,
how can I set the required attribute for DatePicker?

            <DatePicker
              id="selectedDay"
              value={selectedDay}
              onChange={setSelectedDay}
              shouldHighlightWeekends
              locale="fa"
              name={selectedDay}
              wrapperClassName="d-block"
            />

[2021-05-03 07:09] gyanidude commented on #248
Hi @daniel-sudz,
Did we established a new repo?

[2021-05-04 22:00] hazel-sudz commented on #248
@gyanidude no, not yet, I haven't had the time so far.

[2021-05-05 14:11] cking3190 commented on #136
@setayeshk you can set it through this css:

.custom-calendar {
  box-shadow: 0 1em 3em rgba(156, 136, 255,0.2);
  background-color: #040320;
  color: white;
}

[2021-05-06 15:38] norama commented on #234
Samoe for me in a webapp and firefox crashes

[2021-05-06 15:41] norama commented on #214
I need the same thing. 3 months in  a row.

[2021-05-06 16:57] norama commented on #204
Works for me, too, Thanks, I really appreciate.
Sources on GitHub were a bit hard to find: https://github.com/hassanmojab/react-modern-calendar-datepicker
because the source code of the original package is referenced from npm.
I would like to fork this and do some minor bug fixes as well as solve the display of more months, I need 3 months.

[2021-05-06 17:40] norama commented on #248
I am also interested, but I would like to fork this version:
https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/204#issuecomment-833686281
were an important bug fix has already been made, which I need as well.
What I am planning to solve:
- multiple months display (I need 3 months in a row)

[2021-05-09 12:12] mehdinajafi commented on #234
Same issue here on react@17.0.2

[2021-05-18 12:40] endurance21 commented on #206
any updates on this ?

[2021-05-24 05:38] keidarcy commented on #201
Hope to hear the update on this feature.

My temporary solution is to set the initial value to `minimumDate` that will show the selected month.

[2021-05-27 16:54] seyyed-sina commented on #171
@Kiarash-Z ,
there is a problem when the clear button clicked, the datepicker will  appear again to select a date and won't disappear until click away.
It would be nice to have destroy method to kill datepicker after remove button clicked.

[2021-06-01 16:24] AImani commented on #253
hi,

you can use -> renderInput attribute .

![image](https://user-images.githubusercontent.com/11013596/120357735-01671c00-c31b-11eb-93d3-69720c47c553.png)

like this:
[code]

[code]

[2021-06-07 23:03] norama commented on #248
Multiple months fork:
https://github.com/norama/react-modern-calendar-datepicker

[2021-06-07 23:05] norama commented on #214
Multiple months  version:
https://github.com/norama/react-modern-calendar-datepicker

[2021-06-12 10:36] maherAshori opened #266 "Show datePicker when parent overflow is hidden"
If we have a parent for example **(height: 200px)** and **(overflow: hidden)** there is not enough environment to show the date picker.

![image](https://user-images.githubusercontent.com/11519764/121773163-49920400-cb8f-11eb-9b02-28d2f1a21557.png)

**Solution is:**

When we focus on input element, should get input position (x, y) and set **datepicker position as fixed** and then set position rela

[2021-06-15 17:25] wangtiger317 commented on #204
yes, I have fixed it with this. thanks

[2021-06-16 14:06] Nithur-M opened #268 "Layout is collapsing in extension"
Hey, I'm trying to use this in a browser extension. But the view is collapsing as shown in the picture. I disabled all the CSS.
<img width="336" alt="Screen Shot 2021-06-16 at 7 34 12 PM" src="https://user-images.githubusercontent.com/49608085/122233880-0959bb00-ceda-11eb-8a8d-9a1cd5f695ca.png">
What could be the problem?

[2021-06-21 08:40] Ateig opened #269 "How to show multiple days by a button?"

[2021-06-24 13:51] s10mcow commented on #204
+1

[2021-06-28 09:56] #269 closed, assigned to nobody

[2021-07-09 07:16] #268 closed, assigned to nobody

[2021-07-09 07:20] Nithur-M opened #272 "How to hide the arrows?"
Hi, I don't want my users to access the arrows. How to hide it?

[2021-07-17 13:36] tomsabin commented on #272
The "Specifying Both Minimum and Maximum" section on the website shows an example of a calendar without prev/next date arrows - https://kiarash-z.github.io/react-modern-calendar-datepicker/docs/minimum-maximum-date

[2021-07-18 19:13] Mokafela commented on #234
same here help!

[2021-07-21 14:46] prajyotmayekar commented on #234
same issue with Next.js 10.0.7

[2021-07-26 11:07] mogaozq opened #273 "Old API warnings"
I have always warnings related to this package.
First warning:

Second warning:

As you see it says it may indicate bugs in your code. So please update source code for supporting newer React versions.

My React version : 17.0.1
My Browser: Chrome 91.0.4472

[2021-07-26 14:43] mohsenmahoski commented on #207
I know it's not the best solution but its works for me:
[code]

[2021-08-01 10:30] aparsapour commented on #234
I'm using react 17.0.1 & have the same issue in FireFox, But Not in Chrome (Both are the latest version!

[2021-08-02 03:20] gauravgupta98 opened #274 "Allow select only week range?"
We have a usecase where we want to only allow week selection range.

For example - If user selects any day in the calendar popup, so the complete week should get selected and user should be able to see that the complete week is selected.

Can someone confirm if this is achievable?

Update: Please go through the following [link for the example](https://react-day-picker.js.org/examples/selected-week

[2021-08-09 08:17] GulumseKadin opened #276 "I'm having trouble choosing month and year"
Hi, I'm trying to run the normal Calender snippet by default without any extra design. However, I am facing a problem as in the pictures below.

I would like help if possible to fix this. Or is there a way to disable the month and year selection feature?

<img width="347" alt="Screen Shot 2021-08-09 at 11 17 10" src="https://user-images.githubusercontent.com/28591504/128677348-42205091-a90c-4e87-a

[2021-08-12 12:18] DimitarDevP commented on #234
Same here on react@^17.0.2. Weird thing is that it happens on Firefox but not on Chrome.

[2021-08-20 11:50] rferdosi commented on #234
Same issue on next 11.0.1

[2021-08-20 12:42] DimitarDevP commented on #234
Still no news from devs? Has anyone solved this?

[2021-08-23 19:11] sama20 commented on #234
I don't know this helps others or not but I had this problem and did these:

- unminify `index.js` in lib

- change the this line:

[code]
 to this:

[code]

**NOTE:** After that you should **restart** react server to load your changes: `npm start` or `yarn start`

[2021-08-29 14:45] Nithur-M opened #279 "Date picker for react native?"
Do you have the corresponding component to the react native? I want the same date picker in react native. Is there any possibility that I can use this in RN or do you have a separate one?
Thank you.

[2021-08-30 07:08] mysportsclub opened #280 "Need month and year attributes whenever user changes them"
**Is your feature request related to a problem? Please describe.**
We are using Calendar to display monthly data - so when the month/year is changed by user, the new month/year values should be available to developer to render the corresponding data in Calendar.
Currently, we can get the new value only when user "Selects" some date.

**Describe the solution you'd like**
Please make activeMonth and

[2021-09-07 11:53] SaeedEsk opened #284 "Cannot read properties of null (reading 'removeEventListener') at index.js:1"
index.js:1 Uncaught TypeError: Cannot read properties of null (reading 'removeEventListener')
    at index.js:1
    at HTMLUnknownElement.callCallback (react-dom.development.js:3945)
    at Object.invokeGuardedCallbackDev (react-dom.development.js:3994)
    at invokeGuardedCallback (react-dom.development.js:4056)
    at flushPassiveEffectsImpl (react-dom.development.js:23543)
    at unstable_runWi

[2021-09-08 02:39] Nithur-M opened #285 "react-modern-calendar-datepicker for chrome extension"
I am using react-modern-calendar-datepicker in a chrome extension. Specifically, I'm using multiple date selector. Whenever I open the extension, it is showing the starting month of the selected dates. But I want to have the current month whenever the user opens the extension.
For example, if my dates array contains some August days and some September days, and if I open the extension it is showin

[2021-09-13 06:35] KalaliEhsan opened #286 "TypeError: T.current is null"
**TypeError: T.current is null
F/</<
D:/web_projects/my_project/node_modules/react-modern-calendar-datepicker/lib/index.js:1**

I have a problem when select date .
How to resolve it?

[2021-09-25 06:36] amir04lm26 commented on #286
This bug is happening because of react v17.
You can downgrade to react v16 as the library hasn't been updated since a year ago.

[2021-09-25 06:38] amir04lm26 commented on #284
check here:
https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/286#issuecomment-927020181

[2021-09-27 15:42] ningxie1991 commented on #284
Any update on this bug? I am having the same error.

[2021-10-12 05:04] ryskin commented on #284
Any update on this bug? I am having the same error too. Just made all as in getting started

This appears when I select a date.

[2021-10-12 07:13] amir04lm26 commented on #284
You can either downgrade to react 16 or Fix the library by yourself or use my forked version.

https://github.com/amir04lm26/react-modern-calendar-date-picker

The above link refers to  my forked version, You need to run this command and copy the lib folder to your project as a local 3rd party library.
`npm i && npm run build`

[2021-10-18 13:03] ngdevc opened #292 "Uncaught TypeError: can't access property "removeEventListener", T.current is null"
**Describe the bug**
It showing an error when i choose a date.

![image](https://user-images.githubusercontent.com/65579678/137736239-b3a90b01-3537-43e8-9076-d32019c26194.png)

I hope you to help me soon.

[2021-10-20 05:17] KalaliEhsan commented on #286
سلام
ممنون از پاسختون
ولی خب نمیشه نسخه جدیدی از این ماژول رو ارائه بدین که مشکلاتش رفع شده
باشه...
هم پشتیبانی از تم تاریک و هم این نوع خطاها رو نداشته باشه...

On Sat, Sep 25, 2021 at 10:06 AM Amir ***@***.***> wrote:

[2021-10-20 05:29] amir04lm26 commented on #286
Hello, dear Kalali,
I'm not the owner nor a contributor to this repo, but I've fixed the mentioned bug in a forked Project, and you can find further information in this link:
https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/284#issuecomment-940730483

[2021-10-21 12:22] hirwablessing opened #293 "How can I trigger the calendar without using another element other than input?"
Is there a way I can trigger that date picker by using a button or any other element like an icon?

[2021-10-24 10:17] Rezaabdi78 commented on #284
Hi @amir04lm26 , Your forked version is working smoothly and seems there is no bugs. do you have any plans on releasing a npm package? at least until main team fix occurred bugs and release new version of their own package

[2021-10-24 11:30] amir04lm26 commented on #284
Hi Rezaabdi78,
As you had requested, I've published the forked version that fixes the compatibility with react v17 and, here's the package: https://www.npmjs.com/package/@amir04lm26/react-modern-calendar-date-picker

[2021-10-24 11:32] amir04lm26 commented on #292
Here's the solution: https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/284#issuecomment-950307226

[2021-10-24 11:33] amir04lm26 commented on #286
Here's the solution: https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/284#issuecomment-950307226

[2021-10-24 11:35] amir04lm26 commented on #234
Here's the solution: https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/284#issuecomment-950307226

[2021-10-24 11:35] amir04lm26 commented on #204
Here's the solution: https://github.com/Kiarash-Z/react-modern-calendar-datepicker/issues/284#issuecomment-950307226

[2021-11-03 20:52] Ilkogamer626 opened #295 "How do I transform from Day to firestore.timestamp or Date?"

[2021-11-09 11:37] vijayst commented on #292
Even I have the same issue. The ref is null when you remove the keyup event listener.

[2021-11-18 18:13] lightwave commented on #284
Is this package abandoned?

[2021-11-22 05:05] yoonjong-park opened #296 "how can I use ref in Typescript? - const renderCustomInput = ({ ref }) => {...}"
How can I use ref in typescript to use renderInput?

TypeScript error in /Users/parkyoonjong/Desktop/myReact & javascript/BetterCode/BeautifulStore/v1/Front-End(AdminV1)/v1_Front/sharing-platform-web-app/src/common/mobile/BsDatePicker.tsx(48,32):

Binding element 'ref' implicitly has an 'any' type.  TS7031

[code]

[2021-11-22 05:08] yoonjong-park commented on #253
how can I change in typescript?

[2021-11-23 00:57] usamamoinakhter commented on #177
You have to use both of the above solutions simultaneously

[code]

[2021-12-22 09:19] Fir-3 opened #297 "Conditionally DatePicker Component Disable."
Hi Mates,

is there any way to disable the DatePicker component conditionally? I need to disable the component after the data is saved.

[2021-12-23 16:13] alizabetpoor commented on #266
@maherAshori  Hi can you put your code here for the hint?

[2021-12-27 11:45] Murodali opened #298 "How to have 2 months displayed when choosing range"

[2021-12-27 11:46] Murodali commented on #298
Also is it possible to have 2 months displayed when choosing the range of days? Thanks in advance!

[2022-01-13 11:21] VeRJiL opened #299 "How to pass Jalali date default, min, max"
When I pass default value like {year: 1400, month: 10, day: 22} the calendar displaying another date
<br>
When I pass default min value like {year: 1400, month: 10, day: 21}, the calendar breaks and it causes to whole page to crash
<br>
I have set the locale='fa', but It seems that the calendar is not supporting defalt, min or max values for jalali. what am I missing here ?

[2022-01-28 15:35] jankrikava opened #301 "Patreon Sponsoring is not working"
Hi Kiarash,

we would like to support you but Patreon sponsoring doesn't function. Here's a screenshot:
![Screenshot 2022-01-28 163300](https://user-images.githubusercontent.com/17979622/151575245-ae272f67-d144-4bf4-881a-3e8ee57e2c3b.png)

Would appreciate if we can somehow sponsor you/this project.

Thanks,
Jan

[2022-02-01 13:26] ddppddpp opened #302 "Set Customized Array of Days on Month/Year Change"
Hi,
Thanks for the great library!
I'd like to use the Calendar component in a website project of mine and be able to programatically set the style for specific dates using your example Customized Array of Days and reset/recalculate those every time the month/year has been changed by the user.
Any idea how to accomplish this? Can I somehow utilise onChange and compare the month and year component o

[2022-02-08 07:55] Alex8R commented on #296
Hi! You can use RefObject type from react library
`const renderCustomInput = ({ ref }: { ref: RefObject<HTMLInputElement> }) => //...your code`

[2022-02-09 21:28] jsina commented on #204
@amir04lm26 as you see in the picture, the starting week day is "جمعه". I've already set the ```locale='fa'``` but the starting week index does not change. do u have any workaround?

<img width="266" alt="Screen Shot 1400-11-21 at 00 56 28" src="https://user-images.githubusercontent.com/2977960/153292806-39b10719-aa75-4640-a1e8-931f0a63c55e.png">

[2022-02-12 10:19] reza-ya-57 commented on #204
hasan jan nejatemoon dadi damet garm

[2022-02-17 11:07] #301 closed, assigned to nobody

[2022-03-01 20:37] jamespandian opened #311 "Support aria-current accesibilty"
1)How to add aria-current attribute for fixing the accessibility issues or aria-label should say as current date ?
2) Month Drop down is closing while selecting the tabs.

[2022-03-09 20:44] andrewsjohnson opened #312 "Focus styles missing from Month and Year grid items"
**Is your feature request related to a problem? Please describe.**
After tab-focusing the Month or Year from the calendar and hitting "Enter" or "Space" to display the grid of Months or Years respectively, you can tab into the grid and select a new Month or Year using the Left and Right arrow keys, but it isn't possible to see which Month or Year you have selected because they have no focus stylin

[2022-03-12 10:46] mohadese-zarrin commented on #178
i did this and my problem was solved,Tnk :)

[2022-04-10 06:37] SimaGhoreyshi commented on #241
hi @mahdi-jafaree ,
I found a solution that hopefully works for you until the Afghanistan months are added to the package,
if you're using npm package, you can directly change the months array in this path:
node-modules > react-modern-calendar-datepicker > lib > index.js

there's an object containing 'en' and 'fa' months array. you can change it temprarily for your project

[2022-04-12 03:42] #274 closed, assigned to nobody

[2022-04-18 09:27] Samad-Ullah opened #315 "Increase height of date row whenever increase width of class "myCustomCalendar""
Hi Dear,
I want to increase the height of the date row but It only increases the full calendar height.

I just want to increase the height of the dates row. like adding a gap between the rows.

kindly, update with a possible solution.
Thanks!

[2022-04-25 08:52] realmahd1 opened #316 "Choice Active day(s)"
Hi
I like to suggest adding Actived Day(s), just like the functionality of Disabled Day(s), but the user can only pick Actived Day(s).

Thanks!

[2022-04-27 09:44] samyarkd commented on #204
is there any update for this issue

[2022-04-27 10:11] amir04lm26 commented on #204
please report the bug on my repo if you are assure of it

[2022-04-29 09:14] Fir-3 opened #317 "Popup hiding inside the table"
Hi,

I had a issue when I use `/react-data-table-component` with `react-select` [(issue is here)](https://github.com/jbetancur/react-data-table-component/issues/926#issuecomment-952797703). by the way i didn't find any solution in `react-data-table-component` package. but 'react-select' answerd my question [(issue is here)](https://github.com/JedWatson/react-select/issues/4880#issue-1037417331). t

[2022-04-30 14:40] rui-marinho opened #318 "dates are wrong and no last day, even on your demo page"
If you see even on your demo page page in the date picker the dates are wrong, for instance its showing that May starts Sat when its not, also its not showing the last day of each month (im guessing that is what is causing the shift
![Screenshot 2022-04-30 at 15 40 12](https://user-images.githubusercontent.com/30729119/166110047-7be0c8a4-11ac-4e9d-a7b3-7d5dda780c21.png)
![Screenshot 2022-04-30 at

[2022-05-01 22:46] fariborz0015 commented on #284
God bless you 👍 ❤️

[2022-05-18 08:14] farhadmirr commented on #292
I have this problem too :(

[2022-06-13 08:18] fardad-dev opened #324 "?????"
Is this package maintaining?

@Kiarash-Z tel us if you don't have a plan to maintain this package

[2022-06-14 09:07] behzad-ahmadi opened #325 "some buttons css is not working"
All things are in the picture is attached

![Uploading Untitled.png…]()
![Uploading Untitled.png…]()

[2022-06-14 12:19] Mahad-Ahmad commented on #295
Use  date.toDate() method to covert timestamp into date

[2022-06-15 18:17] Mahad-Ahmad commented on #295
Use date.toDate() method to convert timestamp to date

[2022-06-19 13:49] mohammad6vakili commented on #317
Hi
your ref is lost.
you should set an extra prop for your Datepicker component and then you should set the prop value to your package component file and set it as ref to package component.
I think Kiarash should fix this issue but as I know he isn't support this package anymore.
so I think you should fix this issue yourself.

[2022-06-20 05:57] mohammad6vakili opened #326 "When do you release new update?"

[2022-06-20 05:58] HosseinAlikhani commented on #326
use .locale('fa') method.

[2022-06-27 16:10] josegetlife commented on #292
I have this problem too :(

[2022-06-28 14:34] AmirHosseinKarimi commented on #324
The repository owner hasn't had any activity in the past two years. So, I think he won't maintain the package anymore.

[2022-07-04 06:40] mtareqhosain commented on #236
this is the most common feature for date range picker libraries. would love to see this feature.

[2022-07-07 16:28] dclechok opened #331 "Trying Simple Implementation"
For some reason, I'm attempting to do a very simple implementation of this calendar and I keep getting these issues.
I installed the project according to the directions, imported DatePicker from the package, and added the component to my project like so...
`<DatePicker value={date} onChange={setDate} />` where date/setDate are the state variables (initialized to null).

[code]

[2022-08-07 19:16] AmiraAmr opened #334 "Making the datepicker required"
I am using a button as an input as I was required to make a specific design that the input will not be able to implement. So, as I said I used a button, but now I can't make it a required field that needs a value before submission. I think this feature would be nice to add. Thank you.

[2022-08-27 23:46] topovik commented on #175
### In style
[code]

[2022-08-31 07:45] sarafiuter commented on #204
GRACIAS GRACIAS GRACIAS

[2022-08-31 08:36] IzaacBarratt commented on #292
Welp, I have this problem too :(

[2022-08-31 09:56] farhadmirr commented on #292
If you need a Persian/Arabic date picker you can try this one:
https://shahabyazdi.github.io/react-multi-date-picker/
Works great for me and has no bug ;)

[2022-08-31 17:38] Jesuloba-world commented on #331
I have the same issue

[2022-09-26 20:01] ShreyMarwaha commented on #297
Did you get how to disable it conditionally?
I need this feature too.

[2022-09-27 02:33] Fir-3 commented on #297
Not yet. I changed the component 😂

[2022-10-17 08:28] equinusocio commented on #326
Clear

[2022-10-18 10:36] arslanghaffar12 opened #336 "Locale should accept Multiple language. For now it only accept 'fa' and 'en'"
**Is your feature request related to a problem? Please describe.**
My request is not a problem but for a new feature to increase locale props like 'ar' arabic

**Describe the solution you'd like**
I would add locale language like 'ar' arabic

**Describe alternatives you've considered**
If i couldnot do it ill find calendar which support arabic language
**Additional context**
Add any other context

[2022-11-19 11:11] im-habib opened #339 "Calendar should be support JS calendar Locale"
**Is your feature request related to a problem? Please describe.**
 Unfortunately, this module is not compatible with JS calendar Locale
For example, I want to use "Korean" timezone but it will not change automatically date and time property.
[code]

**Describe the solution you'd like**
 I want to add JS "Intl.Locle" that will help to change each and every property of this calendar module.

**Desc

[2022-11-19 11:12] im-habib opened #340 "Calendar should be support JS calendar Locale"
**Is your feature request related to a problem? Please describe.**
 Unfortunately, this module is not compatible with JS calendar Locale
For example, I want to use "Korean" timezone but it will not change automatically date and time property.
[code]

**Describe the solution you'd like**
 I want to add JS "Intl.Locle" that will help to change each and every property of this calendar module.

**Desc

[2022-11-19 11:37] kg-currenxie commented on #236
Same :)

[2022-11-24 22:57] R3XP commented on #331
Am having the exact same Problem. Any insight yet?

[2022-11-28 13:32] JenniferTactill commented on #266
Any news about it ? I'm struggling with the same issue